.loader-spinner {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 12%;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    background-color: darkgray;
    width: 70px;
    height: 70px;
    border-radius: 8%;
    z-index: 9999;
}

.disable-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9998;
}

.btn:hover {
    background-color: transparent !important;
    border-color: #009688 !important;
}