.navbar {
    width: 100%;
    height: 50px;
    background-color: #0375d8;
    position: fixed;
    right: 0;
    box-shadow: 0px 0px 3px 2px grey;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.name {
    font-size: 14px;
    font-family: Rubik;
}

.head-icon {
    position: absolute;  
    width: 42px;
    z-index: 1;
    margin-top: 3px;
    margin-right: 1%;
    cursor: pointer;
}

.search-input {
    top: 14px;
    color: black;
    padding-right: 5px;
    font-family: rubik;
    border-radius: 3px;
    border: 0;
    position: relative;
    font-size: 14px;
}

.search-icon {
    font-size: 15px;
    margin-top: -6px;
    left: 6px;
}

.manage-sector {
    float: left;
    position: absolute;
    left: 15px;
    top: 15px;
}


.menu-icon {
    left: 10px;
    top: 2px;
    cursor: pointer;
    font-size: 11px;
}

.drop-menu {
    position: fixed;
    background-color: white;
    left: 62px;
    top: 51px;
    border-radius: 3px;
    padding: 0;
}

.menu-option {
    color: black;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.option-link {
    text-decoration: none;
}

.option-sector {
    display: block;
    padding: 5px;
}

.option-sector:hover {
    background-color: red;
    color: white;
    border-radius: 2px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 50;
    right: 0;
    background-color: #1D1F20; /* Black*/
    background-image: linear-gradient(145deg, #1D1F20, #404348);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
    user-select: none;
    -webkit-user-select: none;
    border-top: 2px #A59B9B solid;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-right: 50px;
    cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.slidenav-overlay {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    height: 120vh;
}

.space {
    width: 100%;
    height: 50px;
}