<div id="friendRequestsWindow">
    <i class="fas fa-caret-up window-top-arrow"></i>
    <div class="friendRequestsWindow-container">
        <div *ngIf="!isFriendRequestsLoading" class="top-line">
            <span>{{GetFriendRequestsNumberText()}}</span>
        </div>
        <div class="body-container">
            <loaderSpinner *ngIf="isFriendRequestsLoading" id="friend-requests-loader" class="friend-requests-loader">
            </loaderSpinner>
            <div *ngIf="!isFriendRequestsLoading">
                <div class="friend-request-container" (click)="OpenUserPage(request._id)"
                    *ngFor="let request of friendConfirmObjects">
                    <img class="friend-request-image" [src]="request.profileImage || imageService.defaultProfileImage">
                    <span class="friend-accept-text">
                        {{request.firstName + " " + request.lastName + " "}} אישר/ה את בקשת החברות
                    </span>
                </div>
                <div class="friend-request-container" (click)="OpenUserPage(request._id)"
                    *ngFor="let request of friendRequestsObjects">
                    <img class="friend-request-image" [src]="request.profileImage || imageService.defaultProfileImage">
                    <span class="friend-name">{{request.firstName + " " + request.lastName}}</span>
                    <i (click)="FriendAccept(request._id)"
                        class="material-icons friend-request-response-btn friend-request-confirm-btn"
                        title="אישור">check</i>
                    <i (click)="FriendIgnore(request._id)"
                        class="material-icons friend-request-response-btn friend-request-decline-btn"
                        title="ביטול">close</i>
                </div>
            </div>
        </div>
    </div>
</div>