.card-container {
    padding: 15px 25px 5px 25px;
}

.forgot-link {
    text-decoration: none;
    margin-left: -5px;
    cursor: pointer;
    font-size: 12px;
}

.forgot-inner-link {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    right: 40px;
}

.forgot-email-label {
    color: #003469;
    font-size: 14px;
    display: block;
    text-align: right;
}

.forgot-email-text {
    cursor: default;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    text-align: left;
    left: 0;
    width: 100%;
}