<div (keyup.enter)="ForgotEnter()" align="center" class="row card-container col-md-4 col-11">
    <loaderSpinner class="loader" *ngIf="isLoading"></loaderSpinner>
    <div class="head-container">
        <span class="title-text">חשבון חדש</span>
        <i class="material-icons title-icon">lock_outline</i>
    </div>
    <form>
        <div class="form-group">
            <div *ngIf="!forgotUser.showResetCodeField || forgotUser.hasResetCode" class="col-12">
                <input [(ngModel)]="forgotUser.email" id="forgot-email" class="form-control user-input" type="email"
                    name="email" (keydown)="HideMicrotext($event.srcElement.id + '-micro')" placeholder="אימייל">
                <label id="forgot-email-micro" class="microtext"></label>
            </div>
            <div *ngIf="forgotUser.showResetCodeField && !forgotUser.hasResetCode" class="col-12">
                <label class="forgot-email-label">אימייל:</label>
                <div [title]="forgotUser.email" class="forgot-email-text">
                    {{forgotUser.email}}
                </div>
            </div>
        </div>
        <div *ngIf="forgotUser.showResetCodeField">
            <hr *ngIf="!forgotUser.hasResetCode">
            <div class="form-group">
                <div class="col-12">
                    <input [(ngModel)]="forgotUser.code" id="forgot-code" class="form-control user-input" type="text"
                        name="code" (keydown)="HideMicrotext($event.srcElement.id + '-micro')" placeholder="קוד איפוס"
                        maxlength="8" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    <label id="forgot-code-micro" class="microtext"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-12">
                    <input [(ngModel)]="forgotUser.newPassword" id="forgot-newPassword" class="form-control user-input"
                        type="password" name="newPassword" (keydown)="HideMicrotext($event.srcElement.id + '-micro')"
                        placeholder="סיסמא חדשה" autocomplete="off" autocorrect="off" autocapitalize="off"
                        spellcheck="false">
                    <label id="forgot-newPassword-micro" class="microtext"></label>
                </div>
            </div>
        </div>
    </form>
    <div class="footer">
        <div *ngIf="!forgotUser.showResetCodeField && !forgotUser.hasResetCode"
            class="forgot-link-sector has-reset-code-link">
            <a *ngIf="forgotUser.email.length > 0" (click)="hasResetCode()" class="forgot-link forgot-inner-link">יש לי
                כבר
                קוד איפוס</a>
        </div>
        <a class="btn btn-default cancel-forgot" [routerLink]="'/login'">ביטול</a>
        <a class="btn btn-primary submit-email-forgot" (click)="ResetPassword()">{{forgotUser.forgotBtnText}}</a>
    </div>
</div>