#statistics .chart-container {
    position: relative;
    height: calc(100vh - 180px);
    width: calc(100vw - 50px);
    max-height: 450px;
    margin: auto;
    margin-top: 10px;
}

#statistics .control-menu {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;    
    border-radius: 3px;
    background-color: var(--main-background-color);
    z-index: 2;
}

#statistics .tab-container {
    display: inline-flex;
    width: 100%;
    border: 0.5px solid #9e9e9e;
    position: relative;
}

#statistics .tab {
    display: inline-flex;
    width: 100%;    
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    color: var(--main-text-color);
}

#statistics .tab-icon {
    margin: auto;
    font-size: 20px;
}

#statistics .close {
    float: left;
}

#statistics .modal-header, .modal-body, .modal-footer {
    -webkit-user-select: none;
    user-select: none;
    color: var(--main-text-color);
    font-family: var(--main-font);
}

#statistics .modal-title-icon {
    font-size: 20px;
    position: absolute;
    top: 26px;
    padding-right: 10px;
    color: var(--main-text-color);
}

#statistics .modal-footer-buttons {
    float: left;
}

#statistics .save-charts-menu-btn {
    padding: 0;
    left: 15px;
}

#statistics .cancel-modal-btn {
    padding: 0;
    top: 6px;
    left: 35px;
}

#statistics .menu-option {
    margin-bottom: 10px;
}

#statistics .menu-option div {    
    display: inline-block;
    cursor: pointer;
}

#statistics .menu-option i {    
    font-size: 16px;
}

#statistics .menu-option span {
    margin-right: 3px;
}

#statistics .no-chart-container {
    width: 100%;
    text-align: center;
    margin-top: 95px;
    font-size: 45px;
    color: var(--main-text-color);
    font-family: var(--main-font);
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
}

#statistics .no-chart-container i {
    margin-right: 10px;
}

#statistics .chart-dates-container {    
    text-align: center;
    color: var(--main-text-color);
    font-family: var(--main-font);
}

#statistics .dates-range-string-title {
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    top: -3px;
}

#statistics .change-date-range-icon {
    font-size: 24px;
    cursor: pointer;
    line-height: 0;  
}

#statistics .control-menu-overly {
    background-color: var(--main-background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#statistics .no-email-microtext {
    font-size: 11px;
    color: var(--microtext-color);
    line-height: 5px;
}

#statistics .disable-btn {
    color: darkgrey;
    cursor: default;
}

#statistics .chart-top-details-container {
    -webkit-user-select: none;
    user-select: none;
}

#statistics .chart-title-container {
    margin-top: 5px;
    font-size: 18px;
    display: inline-block;
}

#statistics .user-data-container {
    cursor: pointer;
}

#statistics .user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.5px solid #c1c1c1;
}

#statistics .accept-btn-disabled {
    color: darkgrey !important;
    cursor: not-allowed;
}