<div id="statistics">
    <div class="control-menu">
        <span *ngFor="let menu of menus" class="tab-container" [title]="menu.title" (click)="menu.onClick(this)">
            <span class="tab">
                <i class="tab-icon {{menu.icon}}"></i>
            </span>
        </span>
    </div>
    <div class="chart-container">
        <div *ngIf="chart" class="chart-dates-container">
            <i class="fas fa-arrow-circle-right change-date-range-icon"></i>
            <div class="dates-range-string-title">{{datesRangeString}}</div>
            <i class="fas fa-arrow-circle-left change-date-range-icon"></i>
        </div>
        <canvas [hidden]="!chart" id="statistics-chart"></canvas>
        <div [hidden]="chart" class="no-chart-container">
            <span>סטטיסטיקות</span>
            <i class="far fa-chart-bar"></i>
        </div>
    </div>
    <div *ngFor="let menu of menus" class="modal" data-keyboard="false" data-backdrop="static" [id]="menu.id" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="CloseModal(menu.id);(menu.onCancel && menu.onCancel(this))" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <h4 class="modal-title modal-title-label">
                        <span>{{menu.title}}</span>
                        <i class="modal-title-icon {{menu.icon}}"></i>
                    </h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="menu.options">
                        <div *ngFor="let option of menu.options; let i=index;" class="menu-option">
                            <div (click)="SelectOption(menu.options, i)">
                                <i *ngIf="!option.isSelected" class="far fa-circle"></i>
                                <i *ngIf="option.isSelected" class="far fa-dot-circle"></i>
                                <span>{{option.text}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-buttons">
                        <a (click)="CloseModal(menu.id);(menu.onCancel && menu.onCancel(this))" class="btn btn-default cancel-modal-btn">ביטול</a>
                        <a (click)="CloseModal(menu.id);menu.onConfirm(this, menu.options)" class="btn btn-primary save-charts-menu-btn">אישור</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>