<div (keyup.enter)="RegisterEnter()" align="center" class="row card-container col-md-4 col-11">
    <div class="head-container">
        <span class="title-text">חשבון חדש</span>
        <i class="material-icons title-icon">perm_identity</i>
    </div>
    <form>
        <table style="width:100%;">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col">
                            <input [(ngModel)]="newUser.firstName" id="register-firstName"
                                class="form-control user-input" type="text" name="firstName"
                                (keydown)="HideMicrotext($event.srcElement.id + '-micro')" maxlength="10"
                                placeholder="שם פרטי">
                            <label id="register-firstName-micro" class="microtext"></label>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col">
                            <input [(ngModel)]="newUser.lastName" id="register-lastName" class="form-control user-input"
                                type="text" name="lastName" (keydown)="HideMicrotext($event.srcElement.id + '-micro')"
                                maxlength="10" placeholder="שם משפחה">
                            <label id="register-lastName-micro" class="microtext"></label>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-12">
                <input [(ngModel)]="newUser.email" id="register-email" class="form-control user-input" type="email"
                    name="email" (keydown)="HideMicrotext($event.srcElement.id + '-micro')" placeholder="אימייל">
                <label id="register-email-micro" class="microtext"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-12">
                <input [(ngModel)]="newUser.password" id="register-password" class="form-control user-input"
                    type="password" name="password" (keydown)="HideMicrotext($event.srcElement.id + '-micro')"
                    placeholder="סיסמא">
                <label id="register-password-micro" class="microtext"></label>
            </div>
        </div>
    </form>
    <div class="footer">
        <a class="btn btn-default cancel-register-btn" [routerLink]="'/login'">ביטול</a>
        <a id="register-btn" class="btn btn-primary register-btn" (click)="Register()">הרשמה</a>
    </div>
</div>