.card-container {
    padding-bottom: 15px !important;
}

.register-btn {
    padding: 0;
    left: 15px;
}

.cancel-register-btn {
    padding: 0;    
    left: 30px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -56px;
    margin-left: -35px;
    z-index: 999;    
    border-radius: 8%;
}