<div id="chat">
    <div class="chat-window-container">
        <div class="top-chat-info-line">
            <img class="friend-chat-profile" [src]="chatData.friend.profileImage">
            <span (click)="MoveToFriendPage(chatData.friend)" class="friend-chat-name">
                {{chatData.friend.firstName + " " + chatData.friend.lastName}}
            </span>
            <div class="online-icon" *ngIf="chatData.friend.isOnline"></div>
            <span *ngIf="chatData.friend.isTyping" class="friend-typing-title">
                מקליד/ה...
            </span>
            <i *ngFor="let iconObj of topIcons" [title]="iconObj.title" (click)="iconObj.onClick()"
                class="top-icon {{iconObj.class}}"
                [ngClass]="{'selected-top-icon' : iconObj.isSelected}">{{iconObj.innerIconText}}</i>
            <i (click)="CloseChat()" class="material-icons exit-chat">close</i>
        </div>
        <div *ngIf="isShowMessageNotification" (click)="ClickChatNotification()"
            [ngClass]="{'show-notification' : isShowMessageNotification}" class="notification-sector">
            <img class="notification-img"
                [src]="messageNotificationFriendObj.profileImage || globalService.defaultProfileImage">
            <div class="notification-text">
                <span class="notification-name">{{messageNotificationFriendObj.firstName + " " +
                    messageNotificationFriendObj.lastName}}:</span>
                <span class="notification-msg" *ngIf="messageNotificationText">{{messageNotificationText}}</span>
                <span class="notification-msg" *ngIf="!messageNotificationText">
                    <i class="fas fa-camera img-sign"></i>
                </span>
            </div>
        </div>

        <!-- START CANVAS SECTOR -->
        <div [hidden]="!GetTopIconById('canvas').isSelected" class="canvas-body-container">
            <input (change)="ChangeImage()" style="display:none;" type="file" id="chatImage" name="file"
                accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
            <div id="canvas-body-sector" class="canvas-body-sector">
                <span *ngIf="isMessagesLoading" class="chat-loading-container">
                    <loaderDots css='{"padding-top": "10px"}'></loaderDots>
                </span>
                <canvas [hidden]="isMessagesLoading" id="sig-canvas" class="canvas"></canvas>
            </div>
            <div id="canvas-top-bar-sector" class="canvas-top-bar-sector">
                <table class="canvas-top-bar-tabel">
                    <tr>
                        <td *ngFor="let iconObj of canvasTopIcons">
                            <i [title]="iconObj.title" (click)="iconObj.onClick()"
                                class="material-icons canvas-top-bar-icon">{{iconObj.icon}}</i>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="canvas-bar-sector" class="canvas-bar-sector">
                <div (click)="ShowHideCanvasTopSector()" class="canvas-options-sector">
                    <i class="material-icons open-canvas-icon">{{!isCanvasTopOpen ? "keyboard_arrow_up" :
                        "keyboard_arrow_down"}}</i>
                </div>
                <div class="color-btns-sector">
                    <div *ngFor="let colorBtn of colorBtns; let i = index" (click)="ChangeCanvasColor(i)"
                        [ngStyle]="{'backgroundColor': colorBtn}" class="color-btn">
                        <span *ngIf="canvasSelectedColorIndex == i" class="selected-color-line"
                            [ngStyle]="{'backgroundColor': colorBtn}"></span>
                    </div>
                </div>
                <div class="send-canvas-sector">
                    <div class="send-canvas-btn" [ngClass]="{'send-canvas-btn-disabled' : isCanvasEmpty}">
                        <i (click)="SendCanvas()" class="fas fa-caret-left fa-lg send-canvas-btn-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CANVAS SECTOR -->

        <!-- START CHAT SECTOR -->
        <div [hidden]="!GetTopIconById('chat').isSelected" class="chat-body-container">
            <div id="chat-body-sector" class="chat-body-sector">
                <div class="top-space-line"></div>
                <span *ngIf="isMessagesLoading" class="chat-loading-container">
                    <loaderDots></loaderDots>
                </span>
                <div *ngIf="isChatLoadingError" class="loading-error-messages">
                    <span>אופס... משהו השתבש בטעינה</span>
                    <i class="material-icons reload-chat-icon" title="טעינה חוזרת" (click)="ReloadChat()">loop</i>
                </div>
                <div *ngFor="let message of messages; let i = index">
                    <div *ngIf="IsShowUnreadLine(message.from, message.id, i)" class="bubble-message-line-sector">
                        <div class="bubble-message-line">
                            <span class="bubble-message-text-container">
                                <span
                                    class="bubble-message-text">{{GetUnreadMessagesNumberText(unreadMessagesNumber)}}</span>
                            </span>
                        </div>
                    </div>
                    <div *ngIf="IsShowDateBubble(i)" class="bubble-message-line-sector">
                        <span class="bubble-date-text-container">
                            <span class="bubble-message-text">{{GetDateBubbleText(i)}}</span>
                        </span>
                    </div>
                    <span>
                        <div class="message-container"
                            [ngClass]="{'message-container-with-top-space' : (!IsShowDateBubble(i) && (i-1 > 0) && message.from != messages[i-1].from), 'message-container-with-bottom-space': i == (messages.length -1)}">
                            <div id="message-time-container" class="message-time-container"
                                [ngClass]="{'user-message-time' : message.from == chatData.user._id, 'friend-message-time': message.from == chatData.friend._id}">
                                <span class="message-time">
                                    {{GetTimeString(message.time)}}
                                </span>
                            </div>
                            <span [id]="message.id" *ngIf="!message.isImage" class="message"
                                [ngClass]="{'user-message' : message.from == chatData.user._id, 'friend-message': message.from == chatData.friend._id}">
                                <div class="message-text">
                                    {{message.text}}
                                </div>
                            </span>
                            <img [id]="message.id" *ngIf="message.isImage" class="message-img" [src]="message.text"
                                [ngClass]="{'user-message-img' : message.from == chatData.user._id, 'friend-message-img': message.from == chatData.friend._id}">
                        </div>
                    </span>
                </div>
            </div>
            <div class="chat-write-sector">
                <div class="msg-input-sector">
                    <input [(ngModel)]="msghInput" (keyup)="MsgInputKeyup($event)" maxlength="600" id="msg-input"
                        class="msg-input" type="text" autocapitalize="off" autocomplete="off">
                </div>
                <div (click)="SendMessage()" [ngClass]="{'send-msg-btn-sector-disabled' : isMessagesLoading}"
                    class="send-msg-btn-sector">
                    <i class="fas fa-caret-left fa-lg send-msg-btn"></i>
                </div>
            </div>
        </div>
        <!-- END CHAT SECTOR -->
    </div>
</div>