<div id="sideNavbar">
    <div id="sidenav" class="sidenav" [ngClass]="{'sidenav-shadow' : parent.isShowSidenav}">
        <div class="sidenav-head-sector">
            <div class="sidenav-header">
                <profilePicture class="profile-picture" [isEditEnable]="true"></profilePicture>
                <div class="user-name" [title]="user.firstName + ' ' + user.lastName">
                    {{user.firstName + " " + user.lastName}}
                </div>
                <div class="toolbar-menu">
                    <span class="toolbar-item" *ngFor="let item of parent.toolbarItems">
                        <i [title]="item.title" (click)="item.onClick()" class="{{item.icon}}"></i>
                        <span class="badget-icon" (click)="item.onClick()"
                            *ngIf="item.isShowToolbarItemBadget()"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="sidenav-body-sector">
            <loaderSpinner id="friends-loader" class="friends-loader" *ngIf="isFriendsLoading"></loaderSpinner>
            <div id="friends-sector" *ngIf="!isFriendsLoading && parent.friends.length > 0">
                <form *ngIf="parent.isShowSidenav && (isShowFriendFindInput() || friendSearchInput)">
                    <div class="form-group">
                        <div id="friend-search-container" class="col-md-12">
                            <i (click)="friendSearchInput=''" class="material-icons clear-friend-search">close</i>
                            <input [(ngModel)]="friendSearchInput" style="padding-left:20px;" id="friend-search"
                                name="friend-search" class="form-control" type="text" placeholder="חיפוש חברים"
                                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                        </div>
                    </div>
                </form>
                <div (click)="parent.openChat(friend)" class="friend-container"
                    *ngFor="let friend of (getSidebarFriends(friendSearchInput))">
                    <div class="friend-image-container">
                        <i *ngIf="friend.isTyping" title="{{friend.firstName}} מקליד/ה"
                            class="far fa-comment-dots fa-flip-horizontal typing-icon"></i>
                        <div *ngIf="friend.isOnline" class="online-icon"></div>
                        <img class="friend-profile" [src]="friend.profileImage || imageService.defaultProfileImage">
                    </div>
                    <span [ngClass]="{'bold-friend-name' : getFriendUnreadMessagesNumberText(friend._id)}"
                        class="friend-name-container" title="{{friend.firstName + ' ' + friend.lastName}}">
                        <span>{{friend.firstName + " " + friend.lastName}}</span>
                        <span> {{getFriendUnreadMessagesNumberText(friend._id)}}</span>
                    </span>
                </div>
            </div>
            <div class="new-friends-container"
                *ngIf="!isFriendsLoading && parent.friends.length == 0 && parent.isShowSidenav">
                <div class="new-friends-title">חברים חדשים</div>
                <div class="new-friends-icon-container">
                    <i (click)="searchNewFriends()" class="material-icons new-friends-icon">people</i>
                </div>
            </div>
        </div>
    </div>
    <div id="open-sidenav-btn" class="open-sidenav-btn" [ngStyle]="{'right': parent.isShowSidenav ? sidenavWidth : 0}"
        [ngClass]="{'open-sidenav' : parent.isShowSidenav, 'top-sidenav-btn' : parent.chatData.isOpen}"
        (click)="showHideSidenav()">
        <div class="notifications-budget"
            *ngIf="!parent.isHideNotificationsBudget && getNotificationsNumber() > 0 && !parent.isShowSidenav">
            <span class="notifications-number">{{getNotificationsNumber()}}</span>
        </div>
        <i class="open-sidenav-icon fas {{parent.isShowSidenav ? 'fa-chevron-right': 'fa-chevron-left'}}"></i>
    </div>
    <chatsWindow [isChatsWindowOpen]="parent.isChatsWindowOpen" [openChat]="parent.openChat.bind(parent)"
        [messagesNotifications]="parent.getToolbarItem(TOOLBAR_ID.MESSAGES).content"></chatsWindow>
    <friendRequestsWindow [isFriendRequestsWindowOpen]="parent.isFriendRequestsWindowOpen"
        [addFriend]="parent.addFriend.bind(parent)" [ignoreFriendRequest]="parent.ignoreFriendRequest.bind(parent)"
        [friendRequests]="parent.getToolbarItem(TOOLBAR_ID.FRIEND_REQUESTS).content.get"
        [confirmedReuests]="parent.getToolbarItem(TOOLBAR_ID.FRIEND_REQUESTS).content.accept"></friendRequestsWindow>
</div>