#usersReports .reports-title {
    text-align: center;
    margin-bottom: 10px;
}

#usersReports .title-icon {
    margin-right: 5px;
}

#usersReports .reports-container {
    width: 100%;
    max-width: 750px;    
    height: calc(100% - 44px);
    min-height: 400px;
    position: relative;
    overflow-y: auto;
    margin: auto;
    border-radius: 10px;
}

#usersReports .report-card {
    width: calc(100% - 10px);    
    height: 210px;
    border: 1px solid var(--main-text-color);
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
}

#usersReports .report-group {
    margin: 8px;
}

#usersReports .report-label {
    text-decoration: underline;
}

#usersReports .report-field {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}