#usersReports .reports-title {
    text-align: center;
    margin-bottom: 10px;
    -webkit-user-select: none;
    user-select: none;
}

#usersReports .title-icon {
    margin-right: 5px;
}

#usersReports .reports-container {
    width: 100%;
    max-width: 700px;    
    height: calc(100% - 44px);
    min-height: 400px;
    position: relative;
    overflow-y: auto;
    margin: auto;
    border-radius: 10px;
}

#usersReports .report-card {
    width: calc(100% - 10px);    
    height: 210px;
    border: 1px solid var(--main-text-color);
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    position: relative;
}

#usersReports .report-group {
    margin: 8px;
}

#usersReports .report-label {
    text-decoration: underline;
    font-weight: bold;
}

#usersReports .report-field {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

#usersReports .report-top-field {
    width: calc(100% - 25px) !important;
}

#usersReports .users-details-container {
    position: absolute;
    bottom: 0;
    line-height: 30px;
}

#usersReports .report-status {
    width: 12px;
    height: 12px;
    border-radius: 50%;        
    position: absolute;
    top: 12px;
    left: 12px;
}

#usersReports .line {
    display: block;
    height: 1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000000), to(#fff));
}

#usersReports .report-status-green {
    background-color: rgb(76, 175, 80);
}

#usersReports .report-status-yellow {
    background-color: rgb(255, 193, 7);
}

#usersReports .report-status-red {
    background: rgb(244, 67, 54);
}