<div id="navbar">
    <div class="sidenav-overlay"
        [ngClass]="{'overlay-background' : isShowSidenav, 'sidenav-overlay-top' : (isChatsWindowOpen || isFriendRequestsWindowOpen)}"
        *ngIf="isShowSidenav || isShowDropMenu" (click)="OverlayClicked()"></div>
    <topNavbar [user]="user">
        <mainSearch></mainSearch>
    </topNavbar>
    <sideNavbar [user]="user" [(friends)]="friends" [(isFriendsLoading)]="isFriendsLoading" [(isShowSidenav)]="isShowSidenav"
        [(isHideNotificationsBudget)]="isHideNotificationsBudget">
    </sideNavbar>
    <span (click)="MessageNotificationClicked()" id="notification" class="notification"
        *ngIf="isShowMessageNotification && !isShowFriendRequestNotification">
        <span class="notification-name">{{messageNotificationName}}</span>:
        <span *ngIf="!isMessageNotificationImage" class="notification-text">{{messageNotificationText}}</span>
        <span *ngIf="isMessageNotificationImage" class="notification-text">שלח/ה לך תמונה</span>
    </span>
    <span id="notification" class="notification"
        *ngIf="(isShowFriendRequestNotification || isShowFriendConfirmNotification) && !isShowMessageNotification">
        <span class="notification-name">{{friendRequestNotificationName}} </span>
        <span *ngIf="isShowFriendRequestNotification" class="notification-text">שלח/ה לך בקשת חברות</span>
        <span *ngIf="isShowFriendConfirmNotification" class="notification-text">אישר/ה את בקשת החברות</span>
    </span>
</div>

<profilePictureEdit *ngIf="isOpenProfileEditWindow"></profilePictureEdit>
<chat *ngIf="chatData.isOpen" [chatData]="chatData" [GetFriendById]="GetFriendById.bind(this)"
    [OpenChat]="OpenChat.bind(this)"></chat>