<div id="navbar">
    <div class="sidenav-overlay"
        [ngClass]="{'overlay-background' : isShowSidenav, 'sidenav-overlay-top' : (isChatsWindowOpen || isFriendRequestsWindowOpen)}"
        *ngIf="isShowSidenav || isShowDropMenu" (click)="overlayClicked()"></div>
    <topNavbar [user]="user">
        <mainSearch></mainSearch>
    </topNavbar>
    <sideNavbar [user]="user"></sideNavbar>
</div>

<profilePictureEdit *ngIf="isOpenProfileEditWindow"></profilePictureEdit>
<chat *ngIf="chatData.isOpen" [chatData]="chatData" [getFriendById]="getFriendById.bind(this)"
    [openChat]="openChat.bind(this)"></chat>