<div id="navbar">
    <div class="sidenav-overlay"
        [ngClass]="{'overlay-background' : isShowSidenav, 'sidenav-overlay-top' : (isChatsWindowOpen || isFriendRequestsWindowOpen)}"
        *ngIf="isShowSidenav || isShowDropMenu" (click)="OverlayClicked()"></div>
    <topNavbar [user]="user">
        <mainSearch></mainSearch>
    </topNavbar>
    <sideNavbar [user]="user" [(friends)]="friends" [(isShowSidenav)]="isShowSidenav"
        [(isHideNotificationsBudget)]="isHideNotificationsBudget">
    </sideNavbar>
</div>

<profilePictureEdit *ngIf="isOpenProfileEditWindow"></profilePictureEdit>
<chat *ngIf="chatData.isOpen" [chatData]="chatData" [GetFriendById]="GetFriendById.bind(this)"
    [OpenChat]="OpenChat.bind(this)"></chat>