/* Css design for small screens. */
@media (max-width: 600px) {
    #userPage .head-container {
        display: block !important;
        text-align: center;
        height: 110px !important;
    }

    #userPage .body-container {        
        height: calc(100% - 110px) !important;
    }
}

#userPage .clickable {
    cursor: pointer !important;
}

#userPage .container {
    width: 100%;
    height: 100%;
    position: relative;
}

#userPage .head-container {
    width: 100%;
    height: 90px;
    display: flex;
    position: relative;
}

#userPage .body-container {
    width: 100%;
    height: calc(100% - 90px);
    position: relative;
}

#userPage .user-name {
    font-size: 38px;
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--main-text-color);
    align-self: center;
}

#userPage .user-image {
    width: 60px;
    height: 60px;
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
    border: 0.5px solid #c6c6c6;
}

#userPage .change-image-icon {
    width: 15px;
    height: 15px;
    color: rgba(0,0,0,.56);
    border-radius: 50%;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    right: 15px;
    top: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}