<div id="userPage">
    <div *ngIf="user" class="container">
        <div class="head-container">
            <i (click)="OpenEditWindow()" *ngIf="IsUserPageSelf()" class="material-icons change-image-icon">photo_camera</i>
            <img (click)="OpenEditWindow()" class="user-image" [ngClass]="{'clickable' : IsUserPageSelf()}" [src]="user.profileImage ? user.profileImage.image : globalService.defaultProfileImage">
            <div class="user-name">
                {{user.firstName + " " + user.lastName}}
            </div>
        </div>
        <div class="body-container">

        </div>
    </div>
</div>