<div id="userPage">
    <div *ngIf="user" class="page-container">
        <div class="head-container">
            <span (click)="OpenProfileEditWindow()" class="user-image-container">
                <i *ngIf="IsUserPageSelf()" class="fas fa-camera change-image-icon"></i>
                <img class="user-image" [ngClass]="{'clickable' : IsUserPageSelf()}" [src]="user.profileImage || globalService.defaultProfileImage">
            </span>
            <div class="user-name">
                {{user.firstName + " " + user.lastName}}
            </div>
        </div>
        <div class="body-container">
            <!-- Tabs for user page -->
            <div class="tab-line">
                <span class="tab-container" *ngFor="let tab of GetTabs()">
                    <span [title]="tab.title" class="tab" (click)="CloseAllTabsOptionsMenus(tab.id);ChangeTabOptionsMenuState(tab);tab.onClick && tab.onClick()">
                        <i class="tab-icon {{tab.icon}}">{{tab.innerIconText}}</i>
                    </span>
                    <div *ngIf="tab.isOptionsMenuOpen" class="options-drop-menu">
                        <div class="option-container" *ngFor="let option of tab.options" (click)="tab.isOptionsMenuOpen=false;option.action && option.action();">
                            <span>{{option.text}}</span>                            
                        </div>
                    </div>
                </span>
                <div *ngIf="isShowUserEdit">
                    <userEditWindow [user]="user"></userEditWindow>
                </div>
            </div>
        </div>
    </div>
</div>