<div id="unreadWindow">
    <span class="glyphicon glyphicon-triangle-top window-top-arrow"></span>
    <div class="unreadWindow-container">
        <div *ngIf="!isChatsLoading" class="top-line">
            <span>{{GetUnreadMessagesNumberText()}}</span>
        </div>
        <div class="body-container">
            <loader *ngIf="isChatsLoading" id="chats-loader" class="chats-loader"></loader>
            <div class="chat-container" *ngFor="let chat of chats" (click)="OpenChat(GetFriend(chat.friendId))">
                <span *ngIf="messagesNotifications[chat.friendId]" class="notificaiton-sign"></span>
                <img class="chat-image" src="{{GetFriendProfile(chat.friendId) || defaultProfileImage}}">
                <table class="details-table">
                    <tr class="name-tr">
                        <td class="details-td">
                            <span class="chat-name">{{GetFriendName(chat.friendId) || "משתמש לא קיים"}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="details-td">
                            <span class="chat-last-text">{{chat.lastMessage.text}}</span>
                        </td>
                    </tr>
                </table>
                <div class="chat-last-time">
                    {{CalculateChatTimeString(chat)}}
                    <span>{{chat.timeString.dateDetailsString}}</span>
                    <span>{{chat.timeString.dateTimeString}}</span>
                </div>
            </div>
        </div>
    </div>
</div>