#unreadWindow .unreadWindow-container {
    position: fixed;
    top: 130px;
    right: 165px;
    width: 55%;
    max-width: 310px;
    height: 250px;
    max-height: calc(100% - 135px);
    background-color: white;
    box-shadow: 2px 2px 25px 1px #888888;
    z-index: 1001;
    border-radius: 5px;
}

#unreadWindow .window-top-arrow {
    top: 116px;
    right: 174px;
    z-index: 1002;
    font-size: 20px;
    color: white;
    position: fixed;
}

#unreadWindow .top-line {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    padding-right: 5px;
    display: flex;
    align-items: center;
    color: #535278;
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
}

#unreadWindow .body-container {
    height: calc(100% - 25px);
    width: 100%;
    overflow-y: overlay;
}

#unreadWindow .chat-container {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
    font-family: Rubik;
    padding-right: 5px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

#unreadWindow .chat-last-text {
    font-size: 12px;
    max-width: calc(100% - 75px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#unreadWindow .chat-last-time {
    position: absolute;
    left: 10px;
    font-size: 10px;
    align-self: center;
    margin-top: 1px;
}

#unreadWindow .chat-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 5px;
    border: 1px solid #c2c2c2;
}

#unreadWindow .chat-name {
    font-size: 14px;
    font-weight: bold;
}