<div id="unreadWindow">
    <span class="glyphicon glyphicon-triangle-top window-top-arrow"></span>
    <div class="unreadWindow-container">
        <div *ngIf="GetUnreadMessagesNumber() > 0" class="top-line">
            <span>{{GetUnreadMessagesNumber()}} הודעות שלא נקראו</span>
        </div>
        <div class="body-container" [ngClass]="{'body-container-with-top': GetUnreadMessagesNumber() > 0}">
            <div class="chat-container" *ngFor="let chat of chats" (click)="OpenChat(GetFriend(chat.friendId))">
                <span *ngIf="messagesNotifications[chat.friendId] || true" class="notificaiton-sign"></span>
                <img class="chat-image" src="{{GetFriend(chat.friendId).profileImage}}">
                <table class="details-table">
                    <tr class="name-tr">
                        <td class="details-td">
                            <span class="chat-name">{{GetFriendName(chat.friendId)}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="details-td">
                            <span class="chat-last-text">{{chat.lastMessage.text}}</span>
                        </td>
                    </tr>
                </table>
                <span class="chat-last-time">{{GetTimeString(chat.lastMessage.time)}}</span>
            </div>
        </div>
    </div>
</div>