#userPasswordWindow .row {
    margin: 5px;
    height: calc(50% - 60px);
    display: flex;
    align-items: center;
}

#userPasswordWindow .mail-password-reset-btn {
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #868686;
    border-radius: 2px;
    padding: 5px;
    width: 70px;
}

#userPasswordWindow .mail-password-reset-btn:hover {
    background-color: #e9e9e9;
}