<link rel="stylesheet" href="../css/login.css">
<div class="login-sector">
	<div class="row login-head-container">
		<img src="../logo/icon.png" class="login-head-icon">
		<label class="login-label">ForUs</label>
	</div>
	<div (keyup)="LoginKeyUp($event)" align="center" class="row login-container col-md-4 col-xs-10 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-md-offset-4">
		<loader *ngIf="isLoading"></loader>
		<div class="disable-screen" *ngIf="isLoading"></div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
					<input [(ngModel)]="user.email" id="login-email" class="form-control user-input" type="email" name="email" (keyup)="HideMicrotext($event.srcElement.id + '-micro')"
					 placeholder="אימייל">
					<label id="login-email-micro" class="microtext microtext-align"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
					<input [(ngModel)]="user.password" id="login-password" class="form-control user-input" type="password" name="password" (keyup)="HideMicrotext($event.srcElement.id + '-micro')"
					 placeholder="סיסמא">
					<div class="forgot-link-sector">
						<a class="forgot-link" (click)="OpenModal()" data-toggle="modal" data-target="#forgot-modal">שכחתי?</a>
					</div>
					<label id="login-password-micro" class="microtext microtext-align"></label>
				</div>
			</div>
			<div class="form-group">
				<div>
					<button type="button" id="login-btn" (click)="Login()" class="btn btn-primary login-btn">כניסה</button>
				</div>
			</div>
		</form>
		<a class="new-user" (click)="OpenModal()" data-toggle="modal" data-target="#register-modal">משתמש חדש?</a>
	</div>
	<!-- Register modal -->
	<div (keyup)="RegisterKeyUp($event)" class="modal fade" data-backdrop="static" id="register-modal" tabindex="-1" role="dialog"
	 aria-labelledby="registerLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modal-title-label" id="registerLabel">הרשמה<i class="material-icons modal-title-icon">perm_identity</i></h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<table>
							<tr>
								<td>
									<div class="form-group">
										<div class="col-md-9 col-md-offset-1 col-xs-11 col-xs-offset-1">
											<input [(ngModel)]="newUser.firstName" id="register-firstName" class="form-control user-input" type="text" name="firstName"
											 (keyup)="HideMicrotext($event.srcElement.id + '-micro')" maxlength="15" placeholder="שם פרטי">
											<label id="register-firstName-micro" class="microtext"></label>
										</div>
									</div>
								</td>
								<td>
									<div class="form-group">
										<div class="col-md-9 col-md-offset-2 col-xs-11">
											<input [(ngModel)]="newUser.lastName" id="register-lastName" class="form-control user-input" type="text" name="lastName"
											 (keyup)="HideMicrotext($event.srcElement.id + '-micro')" maxlength="15" placeholder="שם משפחה">
											<label id="register-lastName-micro" class="microtext"></label>
										</div>
									</div>
								</td>
							</tr>
						</table>
						<div class="form-group">
							<div class="col-md-10 col-md-offset-1">
								<input [(ngModel)]="newUser.email" id="register-email" class="form-control user-input" type="email" name="email" (keyup)="HideMicrotext($event.srcElement.id + '-micro')"
								 placeholder="אימייל">
								<label id="register-email-micro" class="microtext"></label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-10 col-md-offset-1">
								<input [(ngModel)]="newUser.password" id="register-password" class="form-control user-input" type="password" name="password"
								 (keyup)="HideMicrotext($event.srcElement.id + '-micro')" placeholder="סיסמא">
								<label id="register-password-micro" class="microtext"></label>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<div class="modal-footer-buttons">
						<a class="btn btn-default cancel-register-btn" data-dismiss="modal">בטל</a>
						<a id="register-btn" class="btn btn-primary register-btn" (click)="Register()">הירשם</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Reset password modal -->
	<div (keyup)="ForgotKeyUp($event)" class="modal fade" data-backdrop="static" id="forgot-modal" tabindex="-1" role="dialog"
	 aria-labelledby="forgotLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modal-title-label" id="forgotLabel">איפוס סיסמא<i class="material-icons modal-title-icon">lock_outline</i></h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<div *ngIf="!forgotUser.showResetCodeField || forgotUser.hasResetCode" class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
								<input [(ngModel)]="forgotUser.email" id="forgot-email" class="form-control user-input" type="email" name="email" (keyup)="HideMicrotext($event.srcElement.id + '-micro')"
								 placeholder="אימייל">
								<label id="forgot-email-micro" class="microtext microtext-align"></label>
							</div>
							<div *ngIf="forgotUser.showResetCodeField && !forgotUser.hasResetCode" class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
								<label class="forgot-email-label">אימייל:</label>
								<div title="{{forgotUser.email}}" class="forgot-email-text col-xs-10 col-md-10">
									{{forgotUser.email}}
								</div>
							</div>
						</div>
						<div *ngIf="forgotUser.showResetCodeField">
							<hr *ngIf="!forgotUser.hasResetCode">
							<div class="form-group">
								<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
									<input [(ngModel)]="forgotUser.code" id="forgot-code" class="form-control user-input" type="text" name="code" (keyup)="HideMicrotext($event.srcElement.id + '-micro')"
									 placeholder="קוד איפוס" maxlength="6">
									<label id="forgot-code-micro" class="microtext microtext-align"></label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
									<input [(ngModel)]="forgotUser.newPassword" id="forgot-newPassword" class="form-control user-input" type="password" name="newPassword"
									 (keyup)="HideMicrotext($event.srcElement.id + '-micro')" placeholder="סיסמא חדשה">
									<label id="forgot-newPassword-micro" class="microtext microtext-align"></label>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<div class="modal-footer-buttons">
						<div *ngIf="!forgotUser.showResetCodeField && !forgotUser.hasResetCode" class="forgot-link-sector has-reset-code-link">
							<a (click)="hasResetCode()" class="forgot-link">יש לי כבר קוד איפוס</a>
						</div>
						<a class="btn btn-default cancel-forgot" data-dismiss="modal">בטל</a>
						<a id="register-btn" class="btn btn-primary submit-email-forgot" (click)="ResetPassword()">{{forgotUser.forgotBtnText}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<span id="server-error" data-toggle="snackbar" data-content="אירעה שגיאה בשרת, נסו שוב..."></span>
	<span id="login-failed" data-toggle="snackbar" data-content="שם המשתמש או הסיסמא שגויים"></span>
</div>