<link rel="stylesheet" href="../css/navbar.css">

<div class="space">
  <div class="slidenav-overlay" *ngIf="isSidebarOpen || isDropMenuOpen" (click)="ClosePopups()"></div>
  <div id="sidenav" class="sidenav">
    <a class="closebtn" *ngIf="isSidebarOpen" (click)="HideSidenav()">&times;</a>
    <a href="#">נס</a>
    <a href="#">גדול</a>
    <a href="#">היה</a>
    <a href="#">פה</a>
  </div>
  <div class="container-fluid navbar">
    <img (click)="ShowHideSidenav()" src="../logo/icon.png" class="head-icon">
    <span class="search-sector col-md-4 col-xs-6">
      <input type="text" class="search-input" placeholder="חפש"
        (focus)="ClosePopups()">
      <span class="glyphicon glyphicon-search search-icon"></span>
    </span>
    <div class="manage-sector">
      <span (click)="ShowHideDropMenu()" class="glyphicon glyphicon-triangle-bottom menu-icon"></span>
      <dropMenu class="dropMenuPosition col-md-2 col-xs-4" *ngIf="isDropMenuOpen" [options]="dropMenuDataList"></dropMenu>
      <span class="name" *ngIf="name">שלום {{name}}</span>
    </div>
  </div>
</div>