<link rel="stylesheet" href="../css/navbar.css">

<div class="space">
  <div class="slidenav-overlay" *ngIf="isSidebarOpen || isDropMenuOpen" (click)="ClosePopups()"></div>
  <div id="sidenav" class="sidenav">
    <div class="slidenav-head-sector">
      <span class="slidenav-header">תפריט</span>
      <span class="glyphicon glyphicon-remove closebtn" *ngIf="isSidebarOpen" (click)="HideSidenav()" aria-hidden="true"></span>
    </div>
    <div class="slidenav-body-sector">
      <span>שבת שלום</span>
      <span>חג שמח</span>
      <span>שנה טובה</span>
      <span>יום טוב</span>
    </div>
  </div>
  <div class="container-fluid navbar">
    <img (click)="ShowHideSidenav()" src="../logo/icon.png" class="head-icon">
    <span class="search-sector col-md-4 col-xs-6">
      <input type="text" class="search-input" placeholder="חפש"
        (focus)="ClosePopups()">
      <span class="glyphicon glyphicon-search search-icon"></span>
    </span>
    <div (click)="ShowHideDropMenu()" class="manage-sector">
      <span class="name" *ngIf="name">שלום {{name}}</span>
      <span class="glyphicon glyphicon-triangle-bottom menu-icon"></span>
      <span class="glyphicon glyphicon-triangle-top menu-top-arrow" *ngIf="isDropMenuOpen"></span>
      <dropMenu class="dropMenuPosition col-md-2 col-xs-4" *ngIf="isDropMenuOpen" [options]="dropMenuDataList"></dropMenu>
    </div>
  </div>
</div>