#friendRequestsWindow .friendRequestsWindow-container {
    position: fixed;
    top: 132px;
    right: 135px;
    width: 55%;
    max-width: 310px;
    height: 230px;
    max-height: calc(100% - 135px);
    background-color: white;
    box-shadow: 2px 2px 25px 1px #888888;
    z-index: 1001;
}

#friendRequestsWindow .window-top-arrow {
    top: 119px;
    right: 144px;
    z-index: 1002;
    font-size: 20px;
    color: white;
    position: fixed;
}

#friendRequestsWindow .top-line {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
    color: #535278;
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
}

#friendRequestsWindow .body-container {
    height: 100%;
    width: 100%;
    overflow-y: overlay;
}

#friendRequestsWindow .body-container-with-top {
    height: calc(100% - 20px) !important;
}