<div id="friendRequestsWindow">
    <span class="glyphicon glyphicon-triangle-top window-top-arrow"></span>
    <div class="friendRequestsWindow-container">
        <div *ngIf="!isFriendRequestsLoading" class="top-line">
            <span>{{GetFriendRequestsNumberText()}}</span>
        </div>
        <div class="body-container">
            <loader *ngIf="isFriendRequestsLoading" id="friend-requests-loader" class="friend-requests-loader"></loader>
            <div *ngIf="!isFriendRequestsLoading">
                <div class="friend-request-container no-hover" *ngFor="let request of friendConfirmObjects">                    
                    <img class="friend-request-image" [src]="request.profileImage || globalService.defaultProfileImage">
                    <span class="friend-accept-text">
                        <b style="padding-left:2px;">{{request.firstName + " " + request.lastName}}</b>
                        בחברים שלך עכשיו.
                    </span>
                </div>
                <div class="friend-request-container" *ngFor="let request of friendRequestsObjects">
                    <img class="friend-request-image" [src]="request.profileImage || globalService.defaultProfileImage">
                    <span class="friend-name">{{request.firstName + " " + request.lastName}}</span>
                    <i (click)="AddFriend(request._id);FriendRequestBtnClicked(request._id);" class="material-icons friend-request-response-btn friend-request-confirm-btn"
                        title="אישור">check</i>
                    <i (click)="IgnoreFriendRequest(request._id);FriendRequestBtnClicked(request._id);" class="material-icons friend-request-response-btn friend-request-decline-btn"
                        title="ביטול">close</i>
                </div>
            </div>
        </div>
    </div>
</div>