#friendRequestsWindow .friendRequestsWindow-container {
    position: fixed;
    top: 126px;
    right: 10px;
    width: 300px;
    height: 272px;
    max-height: calc(100% - 135px);
    background-color: white;
    box-shadow: 0px 2px 20px 0px #888888;
    z-index: 1000;
}

#friendRequestsWindow .window-top-arrow {
    top: 113px;
    right: 142px;
    z-index: 1002;
    font-size: 20px;
    color: white;
    position: fixed;
}

#friendRequestsWindow .top-line {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
    color: #535278;
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
}

#friendRequestsWindow .body-container {
    height: calc(100% - 20px) !important;
    width: 100%;
    overflow-y: auto;
}

#friendRequestsWindow .friend-request-container {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    padding-right: 5px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}

#friendRequestsWindow .friend-request-container:hover {
    background-color: #f7f7f7;
}

#friendRequestsWindow .friend-request-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 5px;
    border: 0.5px solid rgba(128, 127, 127, 0.7);
}

#friendRequestsWindow .friend-name {
    width: calc(100% - 100px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#friendRequestsWindow .friend-request-response-btn {
    border: 1px solid var(--main-text-color);
    border-radius: 5px;
    font-size: 20px;
}

#friendRequestsWindow .friend-request-response-btn:hover {
    background-color: #e1e4ff;
}

#friendRequestsWindow .friend-request-confirm-btn {
    margin-right: 10px
}

#friendRequestsWindow .friend-request-decline-btn {
    margin-right: 8px;
    margin-left: 12px;
}

#friendRequestsWindow .friend-requests-loader {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -35px;
    margin-top: -35px;
}

#friendRequestsWindow .friend-requests-loader .loader {
    background-color: transparent !important;
}