<div id="userWindow">
    <div id="userReportWindow">
        <div class="overlay"></div>
        <div class="container">
            <i class="material-icons icon top-icon back-icon" *ngIf="isShowTextReasonWindow"
                (click)="backToReasonsWindow()">arrow_forward</i>
            <i class="material-icons icon top-icon close-icon" (click)="closeWindow()">close</i>
            <div class="title">
                דיווח - {{user.firstName + " " + user.lastName}}
            </div>
            <loaderSpinner class="reasons-loader" *ngIf="isLoading"></loaderSpinner>
            <div [hidden]="isShowTextReasonWindow" class="reasons-sector">
                <div (click)="clickReasonButton(reason)" [ngClass]="{'selected': reason.isClicked}" class="reason"
                    *ngFor="let reason of reportReasons">
                    {{reason.name}}
                </div>
            </div>
            <form [hidden]="!isShowTextReasonWindow" class="reason-form">
                <div class="row form-group" class="reason-row">
                    <span class="col-12">
                        <label>תיאור המקרה:</label>
                        <textarea [(ngModel)]="reportText" [maxlength]="maxReportTextLength"
                            (keyup)="hideEmptyFieldAlert()" id="reason-text" name="reasonText" type="text"></textarea>
                        <span [ngClass]="{'max-details-text-length': reportText.length == maxReportTextLength}"
                            class="char-counter">
                            תווים {{reportText.length}}/{{maxReportTextLength}}
                        </span>
                    </span>
                </div>
            </form>
            <p *ngIf="!isShowTextReasonWindow && isDisableReportBtn() && !isLoading" class="select-reason-info">*יש
                לבחור את סיבת הדיווח</p>
            <p *ngIf="isShowTextReasonWindow && isShowEmptyFieldAlert" class="select-reason-info">*יש להזין את תיאור
                המקרה</p>
            <i (click)="showTextReasonWindow()" *ngIf="!isShowTextReasonWindow"
                class="material-icons icon bottom-icon next-icon"
                [ngClass]="{'disabled-icon': isDisableReportBtn()}">arrow_back</i>
            <a class="btn btn-primary save-btn" *ngIf="isShowTextReasonWindow" (click)="reportUser()">דיווח</a>
        </div>
    </div>
</div>