#permissionsCard .close {
    float: left;
}

#permissionsCard .modal-title-icon {
    font-size: 26px;
    position: absolute;
    top: 22px;
    padding-right: 5px;
    color: var(--main-text-color);
}

#permissionsCard .modal-footer-buttons {
    float: left;
}

#permissionsCard .save-permissions-btn {
    padding: 0;
    left: 15px;
}

#permissionsCard .cancel-permissions-btn {
    padding: 0;
    top: 6px;
    left: 35px;
}