.loader {
    width: 100%;
    padding: 10px;
    border-radius: 8%;
}

.loader-spinner {
    border: 5px solid #d0d0d0;    
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
}