<div *ngIf="chatData.isOpen" id="chat">
    <div class="col-md-8 chat-window-container">
        <div class="top-chat-info-line">
            <img class="friend-chat-profile" src="{{chatData.friend.profileImage}}">
            <span class="friend-chat-name">
                {{chatData.friend.firstName + " " + chatData.friend.lastName}}
            </span>
            <span (click)="CloseChat()" class="glyphicon glyphicon-remove exit-chat" aria-hidden="true"></span>
        </div>
    </div>
</div>