<div id="chat">
    <div class="chat-window-container">
        <div class="top-chat-info-line">
            <img class="friend-chat-profile" src="{{chatData.friend.profileImage}}">
            <span class="friend-chat-name" title="{{chatData.friend.firstName + ' ' + chatData.friend.lastName}}">
                {{chatData.friend.firstName + " " + chatData.friend.lastName}}
            </span>
            <div class="online-icon" *ngIf="chatData.friend.isOnline"></div>
            <span *ngIf="chatData.friend.isTyping" class="friend-typing-title">
                מקליד/ה...
            </span>
            <i *ngFor="let iconObj of topIcons" title="{{iconObj.title}}" (click)="iconObj.onClick()" class="top-icon {{iconObj.class}}"
                [ngClass]="{'selected-top-icon' : iconObj.isSelected}" aria-hidden="true">{{iconObj.innerIconText}}</i>
            <i (click)="CloseChat()" class="material-icons exit-chat">close</i>
        </div>

        <!-- START CANVAS SECTOR -->
        <div [hidden]="!GetTopIconById('canvas').isSelected" class="canvas-body-container">
            <input (change)="UploadImage()" style="display:none;" type="file" id="chatImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
            <div id="canvas-body-sector" class="canvas-body-sector">
                <span *ngIf="isMessagesLoading" class="chat-loading-container">
                    <p class="load-chat-icon" style="padding-top:10px;">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </p>
                </span>
                <canvas [hidden]="isMessagesLoading" id="sig-canvas" class="canvas"></canvas>
            </div>
            <div id="canvas-top-bar-sector" class="canvas-top-bar-sector">
                <table class="canvas-top-bar-tabel">
                    <tr>
                        <td *ngFor="let iconObj of canvasTopIcons">
                            <i title="{{iconObj.title}}" (click)="iconObj.onClick()" class="material-icons canvas-top-bar-icon">{{iconObj.icon}}</i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="canvas-bar-sector">
                <div (click)="ShowHideCanvasTopSector()" class="canvas-options-sector">
                    <i class="material-icons open-canvas-icon">{{!isCanvasTopOpen ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</i>
                </div>
                <div class="color-btns-sector">
                    <div *ngFor="let colorBtn of colorBtns; let i = index" (click)="ChangeCanvasColor(i)" [ngStyle]="{'backgroundColor': colorBtn}"
                        class="color-btn">
                        <span *ngIf="canvasSelectedColorIndex == i" class="selected-color-line" [ngStyle]="{'backgroundColor': colorBtn}"></span>
                    </div>
                </div>
                <div class="send-canvas-sector">
                    <div class="send-canvas-btn" [ngClass]="{'send-canvas-btn-disabled' : isCanvasEmpty}">
                        <span (click)="SendCanvas()" class="glyphicon glyphicon-triangle-left send-canvas-btn-icon" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CANVAS SECTOR -->

        <!-- START CHAT SECTOR -->
        <div [hidden]="!GetTopIconById('chat').isSelected" class="chat-body-container">
            <div id="chat-body-sector" class="chat-body-sector">
                <div class="top-space-line"></div>
                <span *ngIf="isMessagesLoading" class="chat-loading-container">
                    <p class="load-chat-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </p>
                </span>
                <div *ngFor="let message of messages; let i = index">
                    <div *ngIf="IsShowUnreadLine(message.from, message.id, i)" class="bubble-message-line-sector">
                        <div class="bubble-message-line">
                            <span class="bubble-message-text-container">
                                <span class="bubble-message-text">{{GetUnreadMessagesNumberText(unreadMessagesNumber)}}</span>
                            </span>
                        </div>
                    </div>
                    <div *ngIf="IsShowDateBubble(i)" class="bubble-message-line-sector">
                        <span class="bubble-date-text-container">
                            <span class="bubble-message-text">{{GetDateBubbleText(i)}}</span>
                        </span>
                    </div>
                    <span *ngIf="!message.isImage">
                        <div class="message-container">
                            <div id="message-time-container" class="message-time-container" [ngClass]="{'user-message-time' : message.from == chatData.user._id, 'friend-message-time': message.from == chatData.friend._id}">
                                <span class="message-time">
                                    {{GetTimeString(message.time)}}
                                </span>
                            </div>
                            <span class="message" [ngClass]="{'user-message' : message.from == chatData.user._id, 'friend-message': message.from == chatData.friend._id}">
                                <div class="message-text">
                                    {{message.text}}
                                </div>
                            </span>
                        </div>
                    </span>
                    <span *ngIf="message.isImage">
                        <div class="message-container">
                            <div id="message-time-container" class="message-time-container" [ngClass]="{'user-message-time' : message.from == chatData.user._id, 'friend-message-time': message.from == chatData.friend._id}">
                                <span class="message-time">
                                    {{GetTimeString(message.time)}}
                                </span>
                            </div>
                            <img class="message-img" src="{{message.text}}" [ngClass]="{'user-message-img' : message.from == chatData.user._id, 'friend-message-img': message.from == chatData.friend._id}">
                        </div>
                    </span>
                </div>
            </div>
            <div class="chat-write-sector">
                <div class="msg-input-sector">
                    <input [(ngModel)]="msghInput" (keyup)="MsgInputKeyup($event)" maxlength="600" id="msg-input" class="msg-input" type="text"
                        autocapitalize="off" spellcheck="false">
                </div>
                <div (click)="SendMessage()" [ngClass]="{'send-msg-btn-sector-disabled' : isMessagesLoading}" class="send-msg-btn-sector">
                    <span class="glyphicon glyphicon-triangle-left send-msg-btn" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <!-- END CHAT SECTOR -->
    </div>
</div>