/* Css design for small screens. */
@media (max-width: 800px) {
    #chat .chat-window-container {
        background-color: #f2f0f0;
        height: calc(100% - 50px);
        width: 100%;
        position: fixed;
        z-index: 997;
        right: 0;
        top: 50px;
        border-bottom: 1px solid #cacaca;
    }

    #chat .notification-sector {
        width: calc(100% - 28px) !important;
        margin-right: 28px
    }
}

/* Css design for large screens. */
@media (min-width: 801px) {
    #chat .chat-window-container {
        background-color: #f2f0f0;
        height: 70%;
        max-height: 430px;
        width: 32%;
        max-width: 420px;
        position: fixed;
        z-index: 997;
        left: 0;
        bottom: 0px;
        box-shadow: 2px 5px 15px 1px #969696;
        border-radius: 3px;
    }
}

#chat .top-chat-info-line {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: rgba(62, 62, 62, 0.55);
    right: 0;
    display: flex;
    -webkit-user-select: none;
    user-select: none;
}

#chat .friend-chat-profile {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    align-self: center;
}

#chat .friend-chat-name {
    color: white;
    font-size: 15px;
    align-self: center;
    margin-right: 8px;
    font-family: Rubik;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50%;
}

#chat .friend-typing-title {
    color: white;
    font-size: 10px;
    align-self: flex-end;
    margin-right: 10px;
    font-family: Rubik;
    white-space: nowrap;
    max-width: 50%;
    margin-bottom: 6px;
}

#chat .exit-chat {
    position: absolute;
    left: 12px;
    align-self: center;
    font-size: 16px;
    color: #ebebeb;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

#chat .exit-chat:hover {
    color: #ffffff;
    font-weight: bold;
}

#chat .chat-body-container {
    top: 40px;
    height: calc(100% - 40px);
    position: relative;
    direction: rtl;
}

#chat .chat-body-sector {
    height: calc(100% - 30px);
    overflow-y: overlay;
    overflow-x: hidden;
    border-bottom: 1px solid #cacaca;
    -webkit-user-select: none;
    user-select: none;
}

#chat .chat-write-sector {
    height: 30px;
    background-color: rgba(56, 125, 145, 0.2);
    -webkit-user-select: none;
    user-select: none;
}

#chat .msg-input-sector {
    width: calc(100% - 35px);
    height: 100%;
    font-size: 15px;
    font-family: Rubik;
    display: inline-block;
}

#chat .msg-input {
    width: 100%;
    height: 100%;
    padding: 0px 5px 0 5px;
    border: 0;
    border-radius: 0;
}

#chat .send-msg-btn-sector {
    width: 30px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    color: #747474;
}

#chat .send-msg-btn-sector-disabled {
    cursor: default;
}

#chat .send-msg-btn {
    width: 100%;
    height: 100%;
    vertical-align: sub;
    padding-right: 5px;
}

#chat .top-space-line {
    height: 10px;
    width: 100%;
}

#chat .message-container {
    margin-bottom: 5px;
    width: 100%;
    float: right;
    position: relative;
    padding-right: 12px;
    padding-left: 12px;
}

#chat .message {
    font-family: Rubik;
    font-size: 14px;
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
    color: #f1f1f1;
    max-width: 70%;
}

#chat .user-message {
    float: right;
    margin-right: 28px;
    background-color: rgba(0, 0, 255, 0.57);
}

#chat .friend-message {
    float: left;
    margin-left: 28px;
    background-color: rgba(162, 129, 54, 0.72);
}

#chat .message-text {
    word-break: break-word;
    -webkit-user-select: text !important;
    user-select: text !important;
}

#chat .message-time-container {
    display: flex;
    height: 100%;
    position: absolute;
    cursor: default;
}

#chat .user-message-time {
    right: 12px;
}

#chat .friend-message-time {
    left: 12px;
}

#chat .message-time {
    font-size: 10px;
    align-self: center;
}

#chat .chat-loading-container {
    width: 45px;
    height: 45px;
    font-size: 12px;
    line-height: 0;
    text-align: center;
}

#chat .online-icon {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #19e719;
    align-self: center;
    margin-right: 8px;
}

#chat .bubble-message-line-sector {
    width: 100%;
    height: 30px;
    display: flex;
    margin-bottom: 15px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 9px;
}

#chat .bubble-message-line {
    width: 100%;
    height: 1px;
    background-color: #999999;
    align-self: center;
    float: right;
}

#chat .bubble-message-text-container {
    height: 25px;
    border: 1px solid rgba(66, 66, 66, 0.80);
    background-color: #fcfcfc;
    display: flex;
    border-radius: 10px;
    padding: 8px;
    white-space: nowrap;
    margin-top: -12px;
    width: fit-content;
    float: right;
    margin-right: calc(50% - 60px);
    cursor: default;
}

#chat .bubble-date-text-container {
    height: 25px;
    border: 1px solid rgba(66, 66, 66, 0.80);
    background-color: #fcfcfc;
    display: flex;
    border-radius: 10px;
    padding: 8px;
    white-space: nowrap;
    width: fit-content;
    float: right;
    cursor: default;
    align-self: center;
    margin: auto;
}

#chat .bubble-message-text {
    align-self: center;
    font-size: 12px;
    font-family: Rubik;
}

#chat .top-icon {
    position: absolute;
    align-self: center;
    color: #ebebeb;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    user-select: none;
}

#chat .top-chat-icon {
    left: 85px;
}

#chat .top-canvas-icon {
    left: 55px;
}

#chat .selected-top-icon {
    color: white;
    font-size: 24px;
}

#chat .notification-sector {
    width: 100%;
    height: 35px;
    background-color: #333333e6;
    top: 39px;
    padding: 10px;
    position: absolute;
    display: flex;
    z-index: 1;
    cursor: pointer;
}

#chat .notification-text {
    align-self: center;
    font-size: 14px;
    font-family: Rubik;
    color: #ebe8e8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#chat .notification-name {
    font-weight: bold;
}

#chat .notification-msg {
    font-size: 13px;
}

#chat .notification-img {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: 10px;
    border-radius: 5px;
}

@keyframes show-notification-animation {
    from {opacity: 0.1;}
    to {opacity: 0.9;}
}

#chat .show-notification {
    animation-name: show-notification-animation;
    animation-duration: 0.4s;
}

/* START CANVAS SECTOR */

#chat .canvas-body-container {
    top: 40px;
    height: calc(100% - 40px);
    position: relative;
    direction: rtl;
}

#chat .canvas-body-sector {
    height: calc(100% - 40px);
    border-bottom: 1px solid #cacaca;
    -webkit-user-select: none;
    user-select: none;
}

#chat .canvas {
    cursor: crosshair;
}

#chat .canvas-bar-sector {
    height: 40px;
    background-color: #f7f7f7;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    position: relative;
    z-index: 2;
}

#chat .color-btn {
    width: 12px;
    height: 12px;
    align-self: center;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
    flex-shrink: 0;
}

#chat .color-btns-sector {
    width: calc(100% - 90px);
    height: 100%;
    display: flex;
    padding-right: 5px;
    overflow-x: hidden;
}

#chat .send-canvas-sector {
    width: 50px;
    height: 100%;
    display: flex;
}

#chat .send-canvas-btn {
    width: 25px;
    height: 25px;
    background-color: #4654fc;
    border-radius: 50%;
    margin: auto;
    display: flex;
    cursor: pointer;
}

#chat .send-canvas-btn-disabled {
    background-color: #a5a5a5 !important;
    cursor: default !important;
}

#chat .send-canvas-btn-icon {
    color: white;
    text-align: center;
    width: 100%;
    align-self: center;
    margin-right: 2px;
    margin-bottom: 2px;
}

#chat .selected-color-line {
    width: 12px;
    height: 2px;
    position: absolute;
    bottom: 9px;
}

#chat .canvas-options-sector {
    width: 40px;
    height: 100%;
    display: flex;
    cursor: pointer;
}

#chat .open-canvas-icon {
    margin: auto;
    border-left: 1px solid #807d7d;
    padding-left: 6px;
    padding-right: 6px;
    color: #534141;    
}

#chat .message-img {
    width: 180px;
    height: 180px;
    border: 0.5px solid #9d9d9d;
    background-color: white;
}

#chat .user-message-img {
    float: right;
    margin-right: 28px;
}

#chat .friend-message-img {
    float: left;
    margin-left: 28px;
}

#chat .canvas-top-bar-sector {
    height: 35px;
    border-top: 0.5px solid #2a2a2a;
    position: absolute;
    bottom: 0px;
    display: flex;
    z-index: 1;
    background-color: #f7f7f7;
    transition: 0.3s;
    -webkit-user-select: none;
    user-select: none;
}

#chat .canvas-top-bar-tabel {
    height: 100%;
    align-self: center;
}

#chat .canvas-top-bar-icon {
    padding: 7px;
    cursor: pointer;
    border-left: 0.5px solid #2a2a2a;
    margin-top: 3px;
}

#chat .img-sign {
    margin-right: 4px;
}

/* END CANVAS SECTOR */

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

#chat .load-chat-icon i {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

#chat .load-chat-icon i:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

#chat .load-chat-icon i:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}