#login form {
    width: 100%;
    margin-bottom: 0;
}

#login .form-group {
    padding-bottom: 10px;
    margin: 28px 0 0 0;
    position: relative;
}

#login .modal .form-group {    
    padding-bottom: 0 !important;
}

#login .no-padding {
    padding: 0 !important;
}

#login .modal-body {
    padding-top: 0 !important;
}

#login .login-sector {
    user-select: none;
    cursor: default;
}

#login .login-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -56px;
    margin-left: -35px;
    z-index: 999;    
    border-radius: 8%;
}

#login .login-head-container {
    position: relative;
    text-align: center;
    user-select: none;
    margin-top: 15px;
}

#login .login-head-icon {
    height: 70px;
    width: 70px;
    margin-top: -5px;
}

#login .login-label {
    font-family: Mona Shark;
    color: #da7b00;
    font-size: 65px;
    top: 20px;
    position: relative;
}

#login .login-btn {
    border-style: solid;
    border-width: 1px;
    background-color: #007bff;
    color: white !important;
    border-radius: 4px;
}

#login .login-btn:hover, .login-btn:focus {
    background-color: #007bff !important;
    border-color: #7882b6 !important;
}

#login .login-container {
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    padding-top: 15px;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 0px 5px 0px #828282;
}

#login .user-input {
    margin-bottom: 2%;
}

#login .options {
    column-count: 2;
    column-gap: 0;
    column-rule: 1px solid var(--main-text-color);
    margin-top: 5px;
}

#login .option-btn {
    cursor: pointer;
    font-size: 14px;
    line-height: 1;   
}

#login .close {
    position: absolute;
    left: 10px;
}

#login .modal-title-label {
    font-size: 20px;
    cursor: default;
    margin-right: 10%;   
    text-align: left; 
}

#login .modal-footer-buttons {
    width: 100%;
    height: 25px;
    text-align: left;
}

#login .login-icon {
    font-size: 48px;
    position: absolute;
    top: 15px;
    padding-right: 15px;
}

#login .modal-title-icon {
    font-size: 35px;
    position: absolute;
    top: 18px;
    padding-right: 10px;
}

#login .microtext {
    font-size: 11px;
    position: absolute;
    color: var(--microtext-color) !important;
    line-height: 10px;    
    right: 15px;
}

#login .microtext-align {
    right: 0px;
}

#login .forgot-link {
    text-decoration: none;
    margin-left: -5px;
    cursor: pointer;
    font-size: 12px;
}

#login .forgot-inner-link {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    right: 38px;
}

#login .has-reset-code-link {    
    right: 30px;
}

#login .submit-email-forgot {
    padding: 0;
    left: 15px;
}

#login .cancel-forgot {
    padding: 0;    
    left: 30px;
}

#login .forgot-email-label {
    color: #003469;
    font-size: 14px;    
    display: block;    
}

#login .forgot-email-text {
    cursor: default;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    text-align: left;
    left: 0;
    width: 100%;
}

#login .register-btn {
    padding: 0;
    left: 15px;
}

#login .cancel-register-btn {
    padding: 0;    
    left: 30px;
}