<div id="login" class="container">
	<div class="login-sector">
		<div (keyup)="LoginKeyUp($event)" align="center" class="row card-container col-md-4 col-11">
			<loaderSpinner class="login-loader" *ngIf="isLoading"></loaderSpinner>
			<div class="disable-screen" *ngIf="isLoading"></div>
			<form>
				<div class="form-group">
					<div class="col-12 no-padding">
						<input [(ngModel)]="user.email" id="login-email" class="form-control user-input" type="email"
							name="email" (keydown)="HideMicrotext($event.srcElement.id + '-micro')"
							placeholder="אימייל">
						<label id="login-email-micro" class="microtext microtext-align"></label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-12 no-padding">
						<input [(ngModel)]="user.password" id="login-password" class="form-control user-input"
							type="password" name="password" (keydown)="HideMicrotext($event.srcElement.id + '-micro')"
							placeholder="סיסמא">
						<label id="login-password-micro" class="microtext microtext-align"></label>
					</div>
				</div>
				<div class="form-group">
					<div>
						<button type="button" id="login-btn" (click)="Login()"
							class="col-12 btn btn-primary login-btn">כניסה</button>
					</div>
					<div class="options">
						<a class="option-btn" [routerLink]="'/forgot'">שחזור סיסמא</a>
						<a class="option-btn" [routerLink]="'/register'">משתמש חדש</a>
					</div>
				</div>
			</form>
		</div>
		<!-- Register modal -->
		<!-- <div (keyup)="RegisterKeyUp($event)" class="modal fade" data-backdrop="static" id="register-modal" tabindex="-1"
			role="dialog" aria-labelledby="registerLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close-icon" data-dismiss="modal" aria-label="Close">
							<i class="material-icons">close</i>
						</button>
						<h4 class="modal-title modal-title-label" id="registerLabel">הרשמה
							<i class="material-icons title-icon">perm_identity</i>
						</h4>
					</div>
					<div class="modal-body">
						<form>
							<table style="width:100%;">
								<tr>
									<td>
										<div class="form-group">
											<div class="col">
												<input [(ngModel)]="newUser.firstName" id="register-firstName"
													class="form-control user-input" type="text" name="firstName"
													(keydown)="HideMicrotext($event.srcElement.id + '-micro')"
													maxlength="10" placeholder="שם פרטי">
												<label id="register-firstName-micro" class="microtext"></label>
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											<div class="col">
												<input [(ngModel)]="newUser.lastName" id="register-lastName"
													class="form-control user-input" type="text" name="lastName"
													(keydown)="HideMicrotext($event.srcElement.id + '-micro')"
													maxlength="10" placeholder="שם משפחה">
												<label id="register-lastName-micro" class="microtext"></label>
											</div>
										</div>
									</td>
								</tr>
							</table>
							<div class="form-group">
								<div class="col-12">
									<input [(ngModel)]="newUser.email" id="register-email"
										class="form-control user-input" type="email" name="email"
										(keydown)="HideMicrotext($event.srcElement.id + '-micro')" placeholder="אימייל">
									<label id="register-email-micro" class="microtext"></label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-12">
									<input [(ngModel)]="newUser.password" id="register-password"
										class="form-control user-input" type="password" name="password"
										(keydown)="HideMicrotext($event.srcElement.id + '-micro')" placeholder="סיסמא">
									<label id="register-password-micro" class="microtext"></label>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="modal-footer-buttons">
							<a class="btn btn-default cancel-register-btn" data-dismiss="modal">ביטול</a>
							<a id="register-btn" class="btn btn-primary register-btn" (click)="Register()">הרשמה</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<!-- Reset password modal -->
		<!-- <div (keyup)="ForgotKeyUp($event)" class="modal fade" data-backdrop="static" id="forgot-modal" tabindex="-1"
			role="dialog" aria-labelledby="forgotLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close-icon" data-dismiss="modal" aria-label="Close">
							<i class="material-icons">close</i>
						</button>
						<h4 class="modal-title modal-title-label" id="forgotLabel">איפוס סיסמא
							<i class="material-icons modal-title-icon">lock_outline</i>
						</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<div *ngIf="!forgotUser.showResetCodeField || forgotUser.hasResetCode" class="col-12">
									<input [(ngModel)]="forgotUser.email" id="forgot-email"
										class="form-control user-input" type="email" name="email"
										(keydown)="HideMicrotext($event.srcElement.id + '-micro')" placeholder="אימייל">
									<label id="forgot-email-micro" class="microtext"></label>
								</div>
								<div *ngIf="forgotUser.showResetCodeField && !forgotUser.hasResetCode" class="col-12">
									<label class="forgot-email-label">אימייל:</label>
									<div [title]="forgotUser.email" class="forgot-email-text">
										{{forgotUser.email}}
									</div>
								</div>
							</div>
							<div *ngIf="forgotUser.showResetCodeField">
								<hr *ngIf="!forgotUser.hasResetCode">
								<div class="form-group">
									<div class="col-12">
										<input [(ngModel)]="forgotUser.code" id="forgot-code"
											class="form-control user-input" type="text" name="code"
											(keydown)="HideMicrotext($event.srcElement.id + '-micro')"
											placeholder="קוד איפוס" maxlength="8" autocomplete="off" autocorrect="off"
											autocapitalize="off" spellcheck="false">
										<label id="forgot-code-micro" class="microtext"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="col-12">
										<input [(ngModel)]="forgotUser.newPassword" id="forgot-newPassword"
											class="form-control user-input" type="password" name="newPassword"
											(keydown)="HideMicrotext($event.srcElement.id + '-micro')"
											placeholder="סיסמא חדשה" autocomplete="off" autocorrect="off"
											autocapitalize="off" spellcheck="false">
										<label id="forgot-newPassword-micro" class="microtext"></label>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="modal-footer-buttons">
							<div *ngIf="!forgotUser.showResetCodeField && !forgotUser.hasResetCode"
								class="forgot-link-sector has-reset-code-link">
								<a *ngIf="forgotUser.email.length > 0" (click)="hasResetCode()"
									class="forgot-link forgot-inner-link">יש לי כבר
									קוד איפוס</a>
							</div>
							<a class="btn btn-default cancel-forgot" data-dismiss="modal">ביטול</a>
							<a id="register-btn" class="btn btn-primary submit-email-forgot"
								(click)="ResetPassword()">{{forgotUser.forgotBtnText}}</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>