form {
    width: 100%;
    margin-bottom: 0;
}

.form-group {
    padding-bottom: 10px;
    margin: 28px 0 0 0;
    position: relative;
}

.no-padding {
    padding: 0 !important;
}

.login-btn {
    border-style: solid;
    border-width: 1px;
    background-color: #007bff;
    color: white !important;
    border-radius: 4px;
}

.login-btn:hover, .login-btn:focus {
    background-color: #007bff !important;
    border-color: #7882b6 !important;
}

.options {
    column-count: 2;
    column-gap: 0;
    column-rule: 1px solid var(--main-text-color);
    margin-top: 5px;
}

.option-btn {
    cursor: pointer;
    font-size: 14px;
    display: block; 
}

.login-icon {
    font-size: 48px;
    position: absolute;
    top: 15px;
    padding-right: 15px;
}

.microtext-align {
    right: 0px;
}