<div id="topNavbar">
    <div class="container-fluid navbar" [ngClass]="{'navbar-under' : isNavbarUnder}">
        <div class="col-8 navbar-right-container">
            <span class="head-container" (click)="NavigateMain()">
                <img src="assets/logo/icon.png" class="head-icon">
                <span *ngIf="IsShowHeadTitle()" class="head-title">ForUs</span>
            </span>
            <span class="search-sector col-md-6">
                <ng-content></ng-content>
            </span>
        </div>
        <div class="col-4 navbar-left-container">
            <div class="manage-sector">
                <i (click)="ShowHideDropMenu()" class="fas fa-caret-down menu-icon"></i>
                <span (click)="ShowHideDropMenu()" class="name">
                    <span class="top-navbar-user-image">
                        <profilePicture [isEditEnable]="false"></profilePicture>
                    </span>
                    <span> {{user.firstName}}</span>
                </span>
                <span *ngIf="isDropMenuOpen">
                    <i class="fas fa-caret-up menu-top-arrow"></i>
                    <dropMenu class="drop-menu-position col-md-2 col-4" [options]="dropMenuDataList"></dropMenu>
                </span>
            </div>
        </div>
    </div>
</div>