#deleteUser .card-head-container {
    position: relative;
    text-align: center;
    user-select: none;
    margin-top: 15px;
}

#deleteUser .card-head-icon {
    height: 50px;
    width: 50px;
    margin-top: -20px;
}

#deleteUser .head-label {
    font-family: Mona Shark;
    color: #da7b00;
    font-size: 45px;
    top: 5px;
    position: relative;
}

#deleteUser .card-label {    
    font-size: 16px;    
}

#deleteUser .container {
    width: 400px;
    height: 250px;
    background-color: white;
    box-shadow: 2px 2px 15px 2px #adadad;
    border-radius: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 15%;
    margin: auto;
    max-width: 90%;
    max-height: 70%;
    min-height: 250px;   
}

#deleteUser .warning-sector {
    text-align: center;
    margin-top: 30px;
}

#deleteUser .warning-icon {
    color: #d8ac0e;
    font-size: 30px;
}

#deleteUser .warning-message {
    font-size: 18px;
    margin-top: 5px;
}

#deleteUser .password-sector {
    margin-top: 25px;
    position: relative;
    display: flex;
}

#deleteUser .password-icon {    
    align-self: flex-end;
    font-size: 26px;
    user-select: none;    
}

#deleteUser .password-input {
    width: 88%;
    margin: auto;
}

#deleteUser .btn-sector {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    text-align: left;
}

#deleteUser .back-icon {
    position: absolute;
    right: 0;
    font-size: 26px;
    cursor: pointer;    
}

#deleteUser .microtext {
    color: var(--microtext-color);
    font-size: 11px;    
    position: absolute;
    right: 40px;
    bottom: -20px;
    line-height: 5px;
}