#userEditWindow .row {    
    margin: 17px;
    height: calc(50% - 50px);
    display: flex;
    align-items: center;
}

.email-input {
    text-align: left;
    direction: ltr;    
}

#userEditWindow .microtext {
    color: var(--microtext-color);
    font-size: 12px;
    position: absolute;
    line-height: 20px
}

#userEditWindow .validate-user-info {
    font-size: 12px;
    padding-right: 15px;
    position: absolute;
    bottom: 5px;
}