<div id="userWindow">
    <div id="userPasswordWindow">
        <div class="overlay"></div>
        <div class="container">
            <i class="material-icons icon top-icon close-icon" (click)="closeWindow()">close</i>
            <div class="title">
                שינוי סיסמא
            </div>
            <form>
                <div class="row form-group">
                    <span class="col-12">
                        <label>סיסמא נוכחית:</label>
                        <input type="password" class="form-control" (keydown)="hideMicrotext('old-password-micro')"
                            id="oldPassword" name="oldPassword" [(ngModel)]="password.oldPassword">
                        <span id="old-password-micro" class="microtext"></span>
                    </span>
                </div>
                <div class="row form-group">
                    <span class="col-12">
                        <label>סיסמא חדשה:</label>
                        <input type="password" class="form-control" (keydown)="hideMicrotext('new-password-micro')"
                            id="newPassword" name="newPassword" [(ngModel)]="password.newPassword">
                        <span id="new-password-micro" class="microtext"></span>
                    </span>
                </div>
                <a (click)="changePasswordByMail()" class="bottom-icon mail-password-reset-btn">
                    איפוס באימייל
                </a>
                <i class="material-icons icon bottom-icon next-icon" (click)="changePassword()">arrow_back</i>
            </form>
        </div>
    </div>
</div>