.row {
    margin: 5px;
    height: calc(50% - 60px);
    display: flex;
    align-items: center;
}

.mail-password-reset-btn {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline !important;
    right: 35px;
    margin-bottom: 5px;
}