.clickable {
    cursor: pointer !important;
}

.page-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.head-container {
    width: 100%;
    height: 90px;
    display: flex;
    position: relative;
    justify-content: center;
}

.body-container {
    width: 100%;
    max-height: calc(100% - 90px);
    position: relative;
    z-index: 1;
    max-width: 750px;
    margin: auto;
}

.user-name {
    font-size: 36px;
    font-weight: bold;
    align-self: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;    
}

.user-image-container {
    display: inline-flex;
    z-index: 1;
}

.user-image {
    width: 65px;
    height: 65px;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 0.5px solid #c6c6c6;
    user-select: none;
}

.change-image-icon::before {
    background-color: var(--main-background-color);
    display: flex;
    width: 16px;
    height: 14px;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
}

.change-image-icon {
    color: rgba(0,0,0,.56);
    border-radius: 50%;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
    top: 12px;
    cursor: pointer;
    user-select: none;
}

.tab-line {
    width: 100%;
    height: 50px;
    display: flex;
}

.tab-container {
    display: inline-flex;
    width: 100%;    
    box-shadow: 0px 0px 0px 1px #c9c9c9;
    background-color: whitesmoke;
    position: relative;    
}

.tab {
    display: inline-flex;   
    width: 100%; 
    height: 50px;    
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    user-select: none;    
}

.tab-icon {
    margin: auto;
    font-size: 20px;
}

.options-drop-menu {
    position: absolute;
    left: -1px;
    width: calc(100% + 2px);
    top: 50px;
    user-select: none;
    background-color: whitesmoke;
    border: 1px solid #c9c9c9;
}

.option-container {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    border-top: none;
    cursor: pointer;        
    font-size: 14px;    
}

.option-container:hover {
    background-color:#efefef;
}

.overlay {
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    right: 0;
    z-index: 1;
}

/* Css design for small screens. */
@media (max-width: 600px) {
    .head-container {
        display: block;
        text-align: center;
        height: 120px;
        z-index: 1;
    }

    .body-container {        
        max-height: calc(100% - 120px);
    }

    .change-image-icon {
        top: 0px;
        right: auto;
        margin-right: 15px;
    }

    .option-container {
        font-size: 12px;
    }
}