<div id="userPage">
    <div *ngIf="user" class="page-container">
        <div class="overlay" *ngIf="isOverlay" (click)="closeAllTabsOptionsMenus()"></div>
        <div class="head-container">
            <span (click)="openProfileEditWindow()" class="user-image-container">
                <i *ngIf="isUserPageSelf()" class="fas fa-camera change-image-icon"></i>
                <img class="user-image" [ngClass]="{'clickable' : isUserPageSelf()}"
                    [src]="user.profileImage || imageService.defaultProfileImage">
            </span>
            <div class="user-name">
                {{user.firstName + " " + user.lastName}}
            </div>
        </div>
        <div class="body-container">
            <!-- Tabs for user page -->
            <div class="tab-line">
                <span class="tab-container" *ngFor="let tab of getTabs()">
                    <span [title]="tab.title" class="tab"
                        (click)="changeTabOptionsMenuState(tab);tab.onClick && tab.onClick()">
                        <i class="tab-icon {{tab.icon}}">{{tab.innerIconText}}</i>
                    </span>
                    <div *ngIf="tab.isOptionsMenuOpen" class="options-drop-menu">
                        <div class="option-container" *ngFor="let option of tab.options"
                            (click)="closeTabOptions(tab);option.action && option.action()">
                            <span>{{option.text}}</span>
                        </div>
                    </div>
                </span>
                <userEditWindow *ngIf="isShowUserEditWindow" [user]="user"></userEditWindow>
                <userReportWindow *ngIf="isShowUserReportWindow" [user]="user"></userReportWindow>
                <userPasswordWindow *ngIf="isShowUserPasswordWindow" [userId]="user._id"></userPasswordWindow>
                <userPrivacyWindow *ngIf="isShowUserPrivacyWindow"></userPrivacyWindow>
            </div>
        </div>
    </div>
    <!-- Loading user page animation -->
    <loaderRings *ngIf="!user"></loaderRings>
</div>