<div id="profile">
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="profileLabel">
        <div class="modal-dialog" [ngClass]="{'modal-lg' : !isNewPhoto}" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="mini-loader img-loader" *ngIf="isLoading">
                        <div class="mini-loader-spinner"></div>
                    </div>
                    <div class="disable-screen" *ngIf="isLoading"></div>
                    <a class="close" (click)="CloseWindow()" aria-label="Close">
                        <i class="material-icons">close</i>
                    </a>
                    <h4 class="modal-title modal-title-label" id="profileLabel">תמונת פרופיל
                        <i class="fas fa-camera modal-title-icon"></i>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input (change)="ChangeImage()" style="display:none;" type="file" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">

                        <div class="upload-image-sector col-12" *ngIf="isNewPhoto">
                            <div class="upload-image-container edit-image-preview-sector" (click)="EditUserPhoto()" *ngIf="userImage">
                                <div class="new-image-text">עריכת תמונה</div>
                                <img class="edit-image-preview" [src]="userImage">
                            </div>
                            <div class="upload-image-container" (click)="UploadNewPhoto()">
                                <div class="new-image-text">תמונה חדשה</div>
                                <i class="material-icons new-image-icon">add_a_photo</i>
                            </div>
                        </div>

                        <div class="image-sector" [hidden]="isNewPhoto">
                            <div class="form-group align-mini">
                                <div class="col-md-6 col-8 edit-left-side">
                                    <div id="main-img-container" class="main-img-container">
                                        <img id="main-img" class="main-img" [src]="userImage">
                                    </div>
                                </div>
                                <div class="col-md-6 col-4 edit-right-side">
                                    <div class="right-container">
                                        <div id="preview-img-container" class="preview-img-container">
                                        </div>
                                    </div>
                                    <div class="image-tool-bar">
                                        <div *ngFor="let btn of imageBtns" [title]="btn.title" (click)="btn.onClick(this)" class="img-btn" [ngClass]="{'img-btn-pressed': btn.isPressed}">
                                            <i class="{{btn.icon}}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <i *ngIf="userImage && isNewPhoto" title="מחיקת תמונת הפרופיל" (click)="DeleteImage()" class="far fa-trash-alt delete-profile-btn"></i>
                    <div class="modal-footer-buttons">
                        <a (click)="CloseWindow()" class="btn btn-default cancel-change-btn">סגור</a>
                        <a (click)="SaveImage()" id="register-btn" class="btn btn-primary change-img-btn" [ngClass]="{'change-img-btn-disabled': isNewPhoto}">אישור</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>