#profile .close {
    position: absolute;
    left: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

#profile .modal-title-label {
    font-size: 20px;    
    cursor: default;
    margin-right: 10%;
    -webkit-user-select: none;
    user-select: none;
    text-align: left;
}

#profile .modal-title-icon {
    font-size: 22px;
    position: absolute;
    top: 25px;
    padding-right: 10px;
}

#profile .main-img-container {
    float: left;
    overflow: hidden;
}

#profile .main-img-container,
#profile .preview-img-container {
  background-color: #f7f7f7;
  text-align: center;
}

#profile .main-img-container > img {
  max-width: 100%;
}

@media (max-width: 370px) {
    #profile .fa {
        font-size: 16px; 
    }

    #profile .align-mini {
        margin-top: 0 !important;
    }

    #profile .edit-left-side {
        width: 100% !important;
    }

    #profile .edit-right-side {        
        display: inline;
    }

    #profile .new-image-text {
        font-size: 20px !important; 
    }

    #profile .main-img-container {
        width: 250px;
        height: 150px;
        margin: auto;
        float: none;
    }

    #profile .preview-img-container {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 15px;
        border: 0.5px solid rgba(128, 127, 127, 0.7);
        margin: auto;
        margin-top: 20px;
    }

    #profile .right-container {
        width: calc(100% - 144px);
        float: left;
    }

    #profile .img-btn {
        border: 1px solid var(--main-text-color);
        width: 28px;
        height: 28px;        
        border-radius: 5px;
        float: right;
        cursor: pointer;
        font-size: 12px;
        margin: 4px;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profile .image-tool-bar {
        width: 144px;
        float: right;        
    }

    #profile .upload-image-container {
        display: block;        
        padding: 10px;        
        height: 120px;
        width: 140px;
        margin: auto;        
    }

    #profile .edit-image-preview-sector {
        margin-bottom: 6%;
    }

    #profile .new-image-icon {
        font-size: 70px;
        color: #403c52;
    }

    #profile .edit-image-preview {
        height: 70px;
        width: 70px;
        border: 0.5px solid rgba(128, 127, 127, 0.7);
        border-radius: 5px;
        margin-top: 3px;
    }
}

@media (min-width: 371px) and (max-width: 699px) {
    #profile .main-img-container {
        width: 200px;
        height: 150px;
        position: relative;
        left: -15px;
    }

    #profile .preview-img-container {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 15px;
        border: 0.5px solid rgba(128, 127, 127, 0.7);
        position: absolute;
        left: 25px;
    }

    #profile .edit-right-side {
        display: inline-block;
        position: absolute;
        right: 0;
    }
    
    #profile .edit-left-side {
        display: inline-block;
    }

    #profile .right-container {
        width: 100%;
        height: 68px;
    }

    #profile .img-btn {
        border: 1px solid var(--main-text-color);
        width: 27px;
        height: 27px;
        text-align: center;        
        border-radius: 5px;
        float: right;
        cursor: pointer;
        font-size: 12px;
        margin: 5px;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profile .image-tool-bar {
        width: 111px;
        position: absolute;
        padding-top: 3px;
        left: 0;
    }

    #profile .upload-image-container {        
        display: inline-block;        
        padding: 10px;              
        width: 120px;
        height: 120px;
        vertical-align: middle;        
    }

    #profile .edit-image-preview-sector {
        margin-right: 5%;
    }

    #profile .new-image-icon {
        font-size: 70px;
        color: #403c52;
    }

    #profile .edit-image-preview {
        height: 70px;
        width: 70px;
        border: 0.5px solid rgba(128, 127, 127, 0.7);
        border-radius: 5px;
        margin-top: 3px;
    }
}

@media (min-width: 700px) {
    #profile .main-img-container {
        width: 100%;
        height: 300px;
        position: relative;
        left: -15px;
    }

    #profile .preview-img-container {
        width: 130px;
        height: 130px;
        overflow: hidden;
        border-radius: 15px;
        border: 0.5px solid rgba(128, 127, 127, 0.7);
        margin: auto;
    }

    #profile .edit-right-side {
        display: inline-block;
        position: absolute;
        right: 20px;
        height: 300px;
    }
    
    #profile .edit-left-side {
        display: inline-block;
    }

    #profile .right-container {
        width: 100%;
        height: 195px;
    }

    #profile .img-btn {
        border: 1px solid var(--main-text-color);
        width: 30px;
        height: 30px;
        text-align: center;        
        border-radius: 5px;
        float: right;
        cursor: pointer;
        margin: 0;
        margin-top: 5px;
        margin-right: 4px;
        font-size: 14px;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profile .img-btn:hover {
        background-color: #f7f7f7;
    }

    #profile .image-tool-bar {
        width: 100%;
        display: inline-block;
        position: relative;        
    }

    #profile .upload-image-container {        
        display: inline-block;        
        padding: 20px;
        padding-right: 32px;
        padding-left: 32px;        
        vertical-align: middle;
        width: 165px;
        height: 165px;        
    }

    #profile .edit-image-preview-sector {
        margin: 10px;
    }

    #profile .new-image-icon {
        font-size: 85px;
        color: #403c52;
    }

    #profile .edit-image-preview {
        height: 100px;
        width: 100px;
        border: 0.5px solid rgba(128, 127, 127, 0.7);
        border-radius: 5px;
        margin-top: 5px;
    }
}

#profile .main-img {
    max-width: 100%;
}

#profile .preview-img {
    max-width: 100%;
}

#profile .image-sector {
    direction: ltr !important;
    -webkit-user-select: none;
    user-select: none;
    text-align: left;
}

#profile .modal-footer-buttons {
    float: left;
    -webkit-user-select: none;
    user-select: none;
}

#profile .change-img-btn {
    padding: 0;
    left: 15px;
}

#profile .change-img-btn-disabled {
    color: darkgrey !important;
    cursor: not-allowed;    
}

#profile .cancel-change-btn {
    padding: 0;    
    left: 35px;
}

#profile .upload-image-sector {
    direction: ltr !important;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
}

#profile .new-image-text {
    font-size: 16px;
}

#profile .img-loader {
    position: absolute;
    right: 5px;
    top: 5px;
}

#profile .img-btn-pressed {
    background-color: #b1d0e6 !important;
}

#profile .img-btn-pressed:hover {
    background-color: #b1d0e6 !important;
}

#profile .upload-image-container {
    border-radius: 2px;
    box-shadow: 1px 1px 6px 0px #a0a0a0;
    cursor: pointer;
}

@media (max-width: 500px) {
    #profile .delete-profile-btn {
        padding-left: 5px !important;
        padding-right: 6px !important;
        padding-top: 6px !important;
        padding-bottom: 4px !important;        
        font-size: 14px !important;
    }
}

#profile .delete-profile-btn {
    position: absolute;
    right: 10px;
    margin: 0;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;    
}

#profile .delete-profile-btn:hover {
    background-color: #f3f3f3;
}