#profilePicture .profile-image {
    height: 100%;
    width: 100%;
}

#profilePicture .profile-image-border {
    border: 0.5px solid rgba(128, 127, 127, 0.7);
    border-radius: 5px;
}

#profilePicture .add-image-btn {
    width: 15px;
    height: 15px;
    background-color: #03a9f4;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 16px;
}

#profilePicture .change-image-btn {
    width: 15px;
    height: 15px;
    color: rgba(255,255,255, 0.84);
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -3px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
}