<div id="searchPage">
    <div class="users-container">
        <div *ngIf="isLoading || (users && users.length > 0)" class="title-container">
            <i class="fas fa-users"></i>
            <span class="title-text">
                משתמשים
            </span>
        </div>
        <div *ngIf="isLoading" class="users-loading-container">
            <loaderSpinner></loaderSpinner>
        </div>
        <div class="not-found-users-sector" *ngIf="!isLoading && (!users || users.length == 0)">                
            <i class="far fa-times-circle" style="font-size:70px;"></i>
            <div style="font-size:40px;">
                לא נמצאו תוצאות לחיפוש:
                <u>{{searchString}}</u>
            </div>
        </div>
        <div class="user-tab" *ngFor="let user of users">
            <div class="user-details-container" (click)="UserClick(user._id)" [ngClass]="{'short-user-name' : isFriendRequestAction(user)}">
                <img class="user-image" [src]="user.profileImage || globalService.defaultProfileImage">
                <span class="user-name" [title]="user.fullName">
                    {{user.fullName}}
                </span>
            </div>
            <div *ngIf="isFriendRequestAction(user)" class="friend-request-action-sector">
                <i *ngIf="!user.isFriend && !user.isGetFriendRequest && !user.isSendFriendRequest" (click)="AddFriendRequest(user)"
                    class="fas fa-user-plus action-btn" title="בקשת חברות"></i>
                <i *ngIf="user.isGetFriendRequest" (click)="RemoveFriendRequest(user)" class="fas fa-user-times action-btn"
                    title="ביטול בקשת חברות"></i>
                <div class="friend-request-alert-dot" title="בקשת חברות ממתינה" *ngIf="user.isSendFriendRequest"></div>
            </div>
        </div>
    </div>
</div>