<div id="chatsWindow">
    <span class="glyphicon glyphicon-triangle-top window-top-arrow"></span>
    <div class="chatsWindow-container">
        <div *ngIf="!isChatsLoading && !isFriendsLoading" class="top-line">
            <span>{{GetUnreadMessagesNumberText()}}</span>
        </div>
        <div class="body-container">
            <loaderSpinner *ngIf="isChatsLoading || isFriendsLoading" id="chats-loader" class="chats-loader"></loaderSpinner>
            <div *ngIf="!isChatsLoading && !isFriendsLoading">
                <div class="chat-container" *ngFor="let chat of SortByDate(chats)" (click)="OpenChat(GetFriend(chat.friendId))">
                    <span *ngIf="messagesNotifications[chat.friendId]" class="notificaiton-sign"></span>
                    <img class="chat-image" [src]="GetFriendProfile(chat.friendId) || globalService.defaultProfileImage">
                    <div class="details-container">
                        <div class="chat-name">{{GetFriendName(chat.friendId) || "משתמש לא קיים"}}</div>
                        <div *ngIf="!chat.lastMessage.isImage" class="chat-last-text">{{chat.lastMessage.text}}</div>
                        <div *ngIf="chat.lastMessage.isImage" class="chat-last-text">
                            <span class="glyphicon glyphicon-camera img-sign" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="chat-last-time">
                        {{CalculateChatTimeString(chat)}}
                        <div>{{chat.timeString.dateDetailsString}}</div>
                        <div>{{chat.timeString.dateTimeString}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>