/* Css design for small screens. */
@media (max-width: 800px) {
    #chatsWindow .chat-last-text {
        font-size: 14px !important;
    }
}

#chatsWindow .chatsWindow-container {
    position: fixed;
    top: 126px;
    right: 35px;
    width: 335px;
    max-width: calc(100% - 50px);
    height: 314px;
    max-height: calc(100% - 135px);
    background-color: white;
    box-shadow: 0px 2px 20px 0px #888888;
    z-index: 1000;
}

#chatsWindow .window-top-arrow {
    top: 111px;
    right: 198px;
    z-index: 1002;
    font-size: 24px;
    color: white;
    position: fixed;
}

#chatsWindow .top-line {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
    color: #535278;
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
}

#chatsWindow .body-container {
    height: calc(100% - 20px) !important;
    width: 100%;
    overflow-y: auto;
}

#chatsWindow .chat-container {
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;    
    padding-right: 5px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}

#chatsWindow .chat-container:hover {
    background-color: #f7f7f7;
}

#chatsWindow .chat-last-text {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#chatsWindow .chat-last-time {
    font-size: 11px;
    align-self: center;
    margin-top: 1px;
    position: absolute;
    left: 12px;
    text-align: center;
}

#chatsWindow .chat-image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    border: 0.5px solid #c6c6c6;
}

#chatsWindow .chat-name {
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#chatsWindow .details-container {
    width: calc(100% - 100px);    
}

#chatsWindow .notificaiton-sign {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #7699ff;
    right: 12px;
    top: 8px;
    position: absolute;
    border: 0.5px solid #f7f7f7;
}

#chatsWindow .img-sign {    
    color: #403c52;
}

#chatsWindow .chats-loader {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -35px;
    margin-top: -35px;
}