<div id="management">
    <div class="users-container">
        <div class="form-group">
            <input id="search-input" [(ngModel)]="searchInput" (keyup)="SearhUserInputKeyup($event)" class="form-control search-input"
                placeholder="חיפוש משתמשים" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" type="text">
            <div class="search-user-btn" (click)="SearchUser()" [ngClass]="{'search-user-btn-disabled': searchInput == '', 'search-user-btn-active': searchInput && searchInput.length > 0}">
                <i class="material-icons search-user-btn-icon">search</i>
            </div>
        </div>
        <div *ngIf="isLoadingUsers" class="user-loading-container">
            <p class="load-icon" style="padding-top:20px;">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
            </p>
        </div>
        <div *ngIf="!isLoadingUsers">
            <div class="card-container" *ngFor="let user of users">
                <div class="user-card">
                    <div class="user-name-container">
                        <span class="user-name">{{user.firstName + " " + user.lastName}}</span>
                        <img class="user-profile-image" src="{{user.profileImage ? user.profileImage.image : globalService.defaultProfileImage}}">
                        <i *ngIf="user.isOpen && !user.isOpenCardAnimationActive && !user.isFriendsScreenOpen" class="material-icons user-settings-icon user-info-card-open">settings</i>
                        <i *ngIf="user.isFriendsScreenOpen" (click)="CloseFriendsScreen(user)" class="material-icons user-card-back-icon">arrow_forward</i>
                    </div>
                </div>
                <div class="user-info-container" [ngClass]="{'user-info-container-open': user.isOpen && isPreventFirstOpenCardAnimation, 'user-info-container-open-animation': user.isOpen && !isPreventFirstOpenCardAnimation, 'user-info-container-close': (user.isOpen == false)}">
                    <div id="user-info" class="user-info-card-open" *ngIf="user.isOpen && !user.isOpenCardAnimationActive">
                        <table id="info-table" class="info-table" *ngIf="!user.isFriendsScreenOpen">
                            <tr>
                                <td>
                                    <div class="info-title">תאריך רישום:</div>
                                    <div class="info-data">{{GetInfoDateString(user.creationDate)}}</div>
                                </td>
                                <td>
                                    <div class="info-title">התחברות אחרונה:</div>
                                    <div class="info-data">{{GetInfoDateString(user.lastLoginTime)}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="info-title">אימייל:</div>
                                    <div class="info-data email-address">{{user.email}}</div>
                                </td>
                                <td>
                                    <div class="friends-info-sector">
                                        <div class="info-title">
                                            <i (click)="OpenFriendsScreen(user)" class="fa fa-users friends-info-icon" aria-hidden="true"></i>
                                        </div>
                                        <div class="info-data friends-number">{{(user.friendsNumber == 1) ? 'חבר 1' : (user.friendsNumber + ' חברים')}}</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div *ngIf="user.isFriendsScreenOpen">
                            <div *ngIf="!user.isFriendsObjectsLoaded" class="user-loading-container">
                                <p class="load-icon" style="padding-top:20px;">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </p>
                            </div>
                            <div *ngIf="user.isFriendsObjectsLoaded">
                                <div class="form-group friend-search-form-group" [ngStyle]="{'margin-right': friendsElementsPadding + 5, 'margin-left': friendsElementsPadding + 5}">
                                    <input id="friend-search-input" [(ngModel)]="user.friendSearchInput" class="form-control search-input friend-search-input"
                                        placeholder="חיפוש חברים" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"
                                        maxlength="25" type="text">
                                    <div class="search-friend-btn">
                                        <i class="material-icons search-friend-btn-icon">search</i>
                                    </div>
                                </div>
                                <div id="friends-container" class="friends-container" [ngStyle]="{'padding-right': CalculateFriendsElementsPadding()}">
                                    <div class="user-friend-container" *ngFor="let friend of (GetFriendsObjectsFromIds(user.friends, user.friendSearchInput) | sortObjects: 'fullName')">
                                        <img class="friend-profile-image" src="{{friend.profileImage || globalService.defaultProfileImage}}">
                                        <div class="friend-name">{{friend.fullName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-info-btn" (click)="ShowHideUserCard(user)">
                        <i class="material-icons open-user-card-icon">{{user.isOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>