<div id="management">
    <div class="users-container">
        <div class="form-group">
            <input class="form-control search-input" [(ngModel)]="searchInput" placeholder="חיפוש משתמש" autocapitalize="off" autocomplete="off" autocorrect="off"
                spellcheck="false" type="text">
            <div class="search-user-btn" (click)="SearchUser()">
                <i class="material-icons search-user-btn-icon">search</i>
            </div>
        </div>
        <div class="user-card"></div>
    </div>
</div>