<div id="management">
    <div class="users-container">
        <div class="form-group">
            <input id="search-input" [(ngModel)]="searchInput" (keyup)="InputKeyup($event)" class="form-control search-input" placeholder="חיפוש משתמש"
                autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" type="text">
            <div class="search-user-btn" (click)="SearchUser()" [ngClass]="{'search-user-btn-disabled': searchInput == '', 'search-user-btn-active': searchInput && searchInput.length > 0}">
                <i class="material-icons search-user-btn-icon">search</i>
            </div>
        </div>
        <div *ngIf="isLoadingUsers" class="user-loading-container">
            <p class="load-icon" style="padding-top:20px;">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
            </p>
        </div>
        <div *ngIf="!isLoadingUsers">
            <div class="card-container" *ngFor="let user of users">
                <div class="user-card">
                    <div class="user-name-container">
                        <span class="user-name">{{user.firstName + " " + user.lastName}}</span>
                        <img class="user-profile-image" src="{{user.profileImage.image}}">
                    </div>
                </div>
                <div class="user-info-container" [ngClass]="{'user-info-container-open': user.isOpen && isPreventFirstOpenCardAnimation, 'user-info-container-open-animation': user.isOpen && !isPreventFirstOpenCardAnimation, 'user-info-container-close': (user.isOpen == false)}">
                    <div id="user-info" *ngIf="user.isOpen && !isOpenCardAnimationActive">
                        <table id="info-table" class="info-table">
                            <tr>
                                <td>
                                    <div class="info-title">תאריך רישום:</div>
                                    <div class="info-data">{{GetInfoDateString(user.creationDate)}}</div>
                                </td>
                                <td>
                                    <div class="info-title">התחברות אחרונה:</div>
                                    <div class="info-data">{{GetInfoDateString(user.lastLoginTime)}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="info-title">אימייל:</div>
                                    <div class="info-data email-address">{{user.email}}</div>
                                </td>
                                <td>
                                    <div class="more-info-sector">
                                        <div class="info-title">
                                            <i class="fa fa-users more-info-icon" aria-hidden="true"></i>
                                        </div>
                                        <div class="info-data">{{(user.friendsNumber == 1) ? 'חבר 1' : (user.friendsNumber + ' חברים')}}</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="user-info-btn" (click)="ShowHideUserCard(user)">
                        <i class="material-icons">{{user.isOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>