<div id="permissionsCard">
    <div class="modal fade" data-backdrop="static" id="permissions-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <h4 class="title" title="הרשאות - {{user && (user.firstName + ' ' + user.lastName)}}">
                        הרשאות - {{user && (user.firstName + " " + user.lastName)}}
                    </h4>
                </div>
                <div class="modal-body">
                    <loaderSpinner *ngIf="isLoading"></loaderSpinner>
                    <div class="permissions-container" *ngIf="!isLoading">
                        <div *ngFor="let permission of permissions">
                            <span class="permission-sector" (click)="permission.isChecked=!permission.isChecked;">
                                <i [hidden]="permission.isChecked" class="far fa-square permission-check-icon"></i>
                                <i [hidden]="!permission.isChecked" class="far fa-check-square permission-check-icon"></i>
                                <span class="permission-name">{{permission.name}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="!isLoading">
                    <div class="modal-footer-buttons">
                        <a class="btn btn-default cancel-permissions-btn" data-dismiss="modal">ביטול</a>
                        <a id="permissions-btn" (click)="UpdatePermissions()" class="btn btn-primary save-permissions-btn">שמירה</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>