#permissionsCard .close {
    position: absolute;
    left: 0;
}

#permissionsCard .modal-header, #permissionsCard .modal-body, #permissionsCard .modal-footer {
    user-select: none;    
}

#permissionsCard .title {
    font-size: 18px;
    width: calc(100% - 18px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#permissionsCard .modal-title-icon {
    font-size: 26px;
    position: absolute;
    top: 22px;
    padding-right: 5px;    
}

#permissionsCard .modal-footer-buttons {
    float: left;
}

#permissionsCard .save-permissions-btn {
    padding: 0;
    left: 0;
}

#permissionsCard .cancel-permissions-btn {
    padding: 0;
    left: 20px;
}

#permissionsCard .permissions-container {    
    font-size: 16px;    
}

#permissionsCard .permission-sector {
    margin-top: 5px;
}

#permissionsCard .permission-name {
    margin-right: 5px;    
}

#permissionsCard .permission-check-icon {
    font-size: 18px;
    cursor: pointer;
}

#permissionsCard .permissions-loader {
    position: relative;
    right: 50%;
    align-self: center;
    text-align: center;
    display: inline-block;
    margin-right: -35px;
    margin-bottom: 30px;
}