<div id="forgotPassword">
    <div class="container">
        <div class="card-head-container">
            <i *ngIf="isResetTokenValid == false" title="חזרה" class="material-icons back-icon hvr-grow" (click)="BackToLogin()">arrow_right_alt</i>
            <img src="../logo/icon.png" class="card-head-icon">
            <label class="head-label">ForUs</label>
            <div class="card-label" *ngIf="isResetTokenValid">איפוס סיסמא - {{userName}}</div>
        </div>
        <div class="warning-sector" *ngIf="isResetTokenValid == false">
            <i class="fas fa-exclamation-triangle warning-icon"></i>
            <div class="warning-message">הקישור לאיפוס הסיסמא אינו תקף</div>
        </div>
        <div *ngIf="isResetTokenValid">
            <div class="new-password-sector">
                <i class="material-icons new-password-icon">lock_outline</i>
                <input [(ngModel)]="newPassword" id="new-password" class="form-control new-password-input" (keyup)="CheckForEnter($event)"
                    type="password" placeholder="סיסמא חדשה" (keydown)="HideMicrotext('new-password-micro')">
                <label id="new-password-micro" class="microtext"></label>
            </div>
            <div class="btn-sector">
                <a class="btn btn-default" (click)="BackToLogin()">ביטול</a>
                <a class="btn btn-primary" (click)="ResetPassword()">איפוס</a>
            </div>
        </div>
    </div>
</div>