.container {
    text-align: center;
    margin-top: 10px;
}

.main-text {
    font-size: 40px;
}

.sub-text {
    font-size: 16px;
}

.random-image {
    width: 255px;
    height: 240px;
    border-radius: 40%;
    margin: 15px;
}

.back-link {
    text-decoration: underline;
    cursor: pointer;
    color: #046ad9;
}