<link rel="stylesheet" href="./navbar.css">
<div class="navbar-container">
  <div class="slidenav-overlay" *ngIf="isSidebarOpen || isDropMenuOpen" (click)="ClosePopups()"></div>
  <div id="sidenav" class="sidenav">
    <div class="slidenav-head-sector">
      <div class="slidenav-header">
        <img class="empty-profile" src="./app/components/profile/pictures/empty-profile.png">
        <div class="user-name">{{name.firstName + " " + name.lastName}}</div>
      </div>
      <span class="glyphicon glyphicon-remove closebtn" *ngIf="isSidebarOpen" (click)="HideSidenav()" aria-hidden="true"></span>
    </div>
    <div class="slidenav-body-sector">
      <span>שבת שלום</span>
      <span>חג שמח</span>
      <span>שנה טובה</span>
      <span>יום טוב</span>
    </div>
  </div>
  <div class="container-fluid navbar">
    <div style="right:0;position:absolute;" class="col-xs-8">
      <img (click)="ShowHideSidenav()" src="../logo/icon.png" class="head-icon">
      <span class="search-sector col-md-6 col-xs-8">
      <input type="text" class="search-input" placeholder="חפש"
        (focus)="ClosePopups()">
      <span class="glyphicon glyphicon-search search-icon"></span>
      </span>
    </div>
    <div style="float:left;" class="col-xs-4">
      <div *ngIf="name" (click)="ShowHideDropMenu()" class="manage-sector">
        <span class="glyphicon glyphicon-triangle-bottom menu-icon"></span>
        <span class="name">שלום {{name.firstName}}</span>
        <span class="glyphicon glyphicon-triangle-top menu-top-arrow" *ngIf="isDropMenuOpen"></span>
        <dropMenu class="dropMenuPosition col-md-2 col-xs-4" *ngIf="isDropMenuOpen" [options]="dropMenuDataList"></dropMenu>
      </div>
    </div>
  </div>
</div>