<div class="slidenav-overlay" [ngClass]="{'overlay-background' : isSidebarOpen, 'slidenav-overlay-top' : (isUnreadWindowOpen || isFriendRequestsWindowOpen)}"
  *ngIf="isSidebarOpen || isDropMenuOpen || isShowSearchResults" (click)="OverlayClicked()"></div>
<div id="navbar">
  <div class="navbar-container">
    <div id="sidenav" class="sidenav" [ngClass]="{'sidenav-shadow' : isSidebarOpen}">
      <div class="slidenav-head-sector">
        <div class="slidenav-header">
          <profilePicture class="profile-picture" [isEditEnable]="true"></profilePicture>
          <div class="user-name" title="{{user.firstName + ' ' + user.lastName}}">{{user.firstName + " " + user.lastName}}</div>
          <div class="toolbar-menu">
            <span class="toolbar-item" *ngFor="let item of toolbarItems">
              <i title="{{item.title}}" (click)="item.onClick()" class="{{item.icon}}">{{item.innerIconText}}</i>
              <span class="badget-icon" *ngIf="item.isShowToolbarItemBadget()"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="slidenav-body-sector">
        <loader id="friends-loader" class="friends-loader" *ngIf="isFriendsLoading"></loader>
        <div id="friends-sector" class="friends-sector" *ngIf="!isFriendsLoading && friends.length > 0">
          <form class="form-horizontal" *ngIf="IsShowFriendFindInput()">
            <div class="form-group">
              <div id="friend-search-container" class="col-md-12">
                <i (click)="friendSearchInput=''" class="material-icons clear-friend-search">close</i>
                <input [(ngModel)]="friendSearchInput" style="padding-left:20px;" id="friend-search" name="friend-search" class="form-control"
                  type="text" placeholder="חיפוש חברים" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
              </div>
            </div>
          </form>
          <div (click)="OpenChat(friend)" class="friend-container" *ngFor="let friend of (GetFilteredFriends(friendSearchInput))">
            <div *ngIf="friend.isTyping" title="{{friend.firstName}} מקליד/ה" class="typing-icon">...</div>
            <div *ngIf="friend.isOnline" class="online-icon"></div>
            <img class="friend-profile" src="{{friend.profileImage ? friend.profileImage : defaultProfileImage}}">
            <span [ngClass]="{'bold-friend-name' : GetFriendUnreadMessagesNumberText(friend._id)}" class="friend-name-container" title="{{friend.firstName + ' ' + friend.lastName}}">
              <span>{{friend.firstName + " " + friend.lastName}}</span>
              <span>{{GetFriendUnreadMessagesNumberText(friend._id)}}</span>
            </span>
          </div>
        </div>
        <div style="position:relative;" *ngIf="!isFriendsLoading && friends.length == 0 && isSidebarOpen">
          <div class="new-friends-title">חברים חדשים</div>
          <div class="no-friends-container">
            <i (click)="SearchNewFriends()" class="material-icons no-friends-icon">people</i>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid navbar">
      <div class="col-xs-8 navbar-right-container">
        <img (click)="ShowHideSidenav()" src="../logo/icon.png" class="head-icon">
        <span class="search-sector col-md-6 col-xs-10">
          <input type="text" id="search-input" class="search-input" placeholder="חיפוש" [(ngModel)]="searchInput" (ngModelChange)="SearchChange(searchInput)"
            (focus)="ClickSearchInput(searchInput)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          <div *ngIf="isNewFriendsLabel && !isSidebarOpen && !isShowSearchResults">
            <span style="right:15px!important; color:#b2b2b2;" class="glyphicon glyphicon-triangle-top menu-top-arrow"></span>
            <div class="new-friends-label">חיפוש חברים חדשים</div>
          </div>
          <span class="glyphicon glyphicon-search search-icon" [ngClass]="{'search-icon-active':isShowSearchResults && GetFilteredSearchResults(searchInput).length > 0}"></span>
          <div class="search-results-container" *ngIf="isShowSearchResults && GetFilteredSearchResults(searchInput).length > 0">
            <div class="search-result" *ngFor="let result of GetFilteredSearchResults(searchInput)" title="{{result.fullName}}">
              <img *ngIf="result.profile && result.profile != -1" src="{{result.profile}}" class="search-result-image">
              <img *ngIf="!result.profile" src="/app/components/profilePicture/pictures/empty-profile.png" class="search-result-image">
              <span *ngIf="result.profile == -1" class="search-result-image-loading">
                <p class="load-image-icon">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </p>
              </span>
              <span class="search-result-name">{{result.fullName}}</span>
              <i *ngIf="IsShowAddFriendRequestBtn(result._id)" (click)="AddFriendRequest(result._id)" class="fa fa-user-plus friend-request-btn hvr-grow"
                title="בקשת חברות" aria-hidden="true"></i>
              <i *ngIf="IsShowRemoveFriendRequestBtn(result._id)" (click)="RemoveFriendRequest(result._id)" class="fa fa-ellipsis-h friend-request-btn remove-request"
                title="נשלחה בקשת חברות" aria-hidden="true"></i>
              <span *ngIf="IsShowFriendRequestConfirmSector(result._id)">
                <i class="fa fa-user-plus friend-request-confirm-icon" title="אישור בקשת חברות" aria-hidden="true"></i>
                <i (click)="AddFriend(result._id)" class="material-icons friend-request-confirm-btn" title="אישור">check</i>
                <i (click)="IgnoreFriendRequest(result._id)" class="material-icons friend-request-decline-btn" title="ביטול">close</i>
              </span>
            </div>
          </div>
        </span>
      </div>
      <div style="float:left;" class="col-xs-4">
        <div *ngIf="user" class="manage-sector">
          <span (click)="ShowHideDropMenu()" class="glyphicon glyphicon-triangle-bottom menu-icon"></span>
          <span (click)="ShowHideDropMenu()" class="name">
            <span class="top-navbar-user-image">
              <profilePicture [isEditEnable]="false"></profilePicture>
            </span> {{user.firstName}}
          </span>
          <span class="glyphicon glyphicon-triangle-top menu-top-arrow" *ngIf="isDropMenuOpen"></span>
          <dropMenu class="dropMenuPosition col-md-2 col-xs-4" *ngIf="isDropMenuOpen" [options]="dropMenuDataList"></dropMenu>
        </div>
      </div>
    </div>
  </div>
  <span (click)="MessageNotificationClicked()" id="notification" class="notification" *ngIf="isShowMessageNotification && !isShowFriendRequestNotification">
    <span class="notification-name">{{messageNotificationName}}</span>:
    <span class="notification-text">{{messageNotificationText}}</span>
  </span>
  <span (click)="FriendRequestNotificationClicked()" id="notification" class="notification" *ngIf="isShowFriendRequestNotification && !isShowMessageNotification">
    <span class="notification-name">{{friendRequestNotificationName}}</span>
    <span class="notification-text">שלח/ה לך בקשת חברות</span>
  </span>
</div>

<unreadWindow [hidden]="!isUnreadWindowOpen" [isFriendsLoading]="isFriendsLoading" [OpenChat]="OpenChat.bind(this)" [friends]="friends"
  [messagesNotifications]="GetToolbarItem('messages').content"></unreadWindow>
<friendRequestsWindow [hidden]="!isFriendRequestsWindowOpen" [AddFriend]="AddFriend.bind(this)" [IgnoreFriendRequest]="IgnoreFriendRequest.bind(this)"
  [friendRequests]="GetToolbarItem('friendRequests').content.get"></friendRequestsWindow>
<chat *ngIf="chatData.isOpen" [chatData]="chatData"></chat>

<span id="add-friend-notification" data-toggle="snackbar" data-content="נשלחה בקשת חברות"></span>
<span id="remove-friend-notification" data-toggle="snackbar" data-content="בקשת החברות בוטלה"></span>