#navbar .navbar-container {
    height: 50px;
}

#navbar .navbar {
    width: 100%;
    background-color: #0375d8;
    position: fixed;
    right: 0;
    top: 0;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1000;
}

#navbar .slidenav-body-sector {
    height: calc(100% - 130px);
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar .name {
    font-size: 15px;
    font-family: Rubik;
    display: inline-block;
    width: 78%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 16px;
    position: absolute;
    text-align: left;
    padding-left: 5px;
}

#navbar .head-icon {
    position: relative;  
    width: 42px;
    z-index: 1;
    margin-top: 3px;
    cursor: pointer;
    float: right;
}

#navbar .search-sector {
    float: right;
    top: 14px;
    position: absolute;
    z-index: 1;
    padding-right: 5px;
}

#navbar .search-input {
    color: black;
    padding-right: 5px;
    font-family: rubik;
    border-radius: 3px;
    border: 0;
    position: relative;
    font-size: 14px;
    width: 100%;
    padding-left: 25px;
    height: 24px;
}

#navbar .search-icon {
    font-size: 16px;
    top: 4px;
    position: absolute;
    color: #7b7878;
    left: 20px;
}

#navbar .search-icon-active {
    color: #6088ff !important;
}

#navbar .manage-sector {
    margin-top: 15px;
    white-space: nowrap;
    max-width: 100%;
    width: 100%;
    left: 0;
    position: absolute;
}

#navbar .menu-icon {
    top: 5px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}

#navbar .menu-icon:hover {
    color: #eee;
}

#navbar .menu-top-arrow {
    position: absolute;
    color: #fefff4;
    left: -1px;
    font-size: 16px;
    top: 24px;
    z-index: 1;
}

#navbar .dropMenuPosition {
    position: fixed;
    left: 8px;
    top: 50px;
    padding: 0;
}

/* The side navigation menu */
#navbar .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 50;
    right: 0;
    background-image: linear-gradient(145deg, #0375d8, #1d8865);
    overflow-x: hidden;
    transition: 0.4s;
    user-select: none;
    -webkit-user-select: none;
    border-top: 1px #bdb7b7 solid;
    overflow-y: hidden;
}

/* The navigation menu links */
#navbar .sidenav span {
    padding: 12px 8px 10px 0px;
    font-size: 14px;
    color: #dbdeff;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    overflow: hidden;
}

#navbar .slidenav-overlay {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    height: 120vh;
    z-index: 998;
}

#navbar .overlay-background {
    background-color: rgba(0, 0, 0, 0.14);
}

#navbar .slidenav-head-sector {
    background-color: #115c94;
    width: 100%;
    height: 80px;
    top: 0;
    padding-top: 0;
}

#navbar .slidenav-header {
    font-size: 26px !important;
    cursor: default !important;
    color: #f1f1f1 !important;
    top: 9px;
    position: relative;
    right: 8px;
    width: calc(100% - 40px);
    white-space: nowrap;
}

#navbar .profile-picture {
    width: 55px;
    height: 55px;
    margin-top: 4px;
    position: absolute;
    cursor: pointer;
}

#navbar .user-name {
    display: inline-block;
    font-size: 18px;
    width: calc(100% - 50px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 20px;
    right: 65px;
}

#navbar .search-results-container {
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #1b5484;
}

#navbar .search-result {
    height: 55px;
    padding: 5px;
    color: #1d4695;
    font-size: 14px;
    font-weight: bold;
    font-family: Rubik;
    cursor: pointer;
}

#navbar .search-result:hover {
    background-color: #6887c2;
    color: #f7f7f7;
}

#navbar .search-result-image {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-left: 5px;
}

#navbar .search-result-image-loading {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid #888888;
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
    line-height: 43px;
    text-align: center;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

#navbar .load-image-icon i {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

#navbar .load-image-icon i:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

#navbar .load-image-icon i:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

#navbar .friend-container {
    display: flex;
    cursor: pointer;
}

#navbar .friend-container:hover {
    background-color: rgba(46, 66, 80, 0.34);
}

#navbar .friend-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-self: center;
    margin-right: 8px;
    background-color: rgba(255, 255, 255, 0.82);
}

#navbar .form-group {
    margin: 0 !important;
    padding-bottom: 0 !important;
}

#navbar #friend-search {
    background-image: linear-gradient(#D2D2D2, #D2D2D2), linear-gradient(#D2D2D2, #D2D2D2) !important;
    color: #efeded !important;
}

#navbar #friend-search-container ::-webkit-input-placeholder {
    color: #DBD8D8;
    font-size: 12px;
}

#navbar .friends-loader {
    position: absolute;
    top: 150px;
    right: 65px;
}

#navbar #friends-loader .loader {
    background-color: transparent !important;
}

#navbar .no-friends-container {
    width: 100%;
    height: 85%;
    display: flex;
    text-align: center;
    overflow-x: hidden;
}

#navbar .no-friends-icon {
    margin: auto;
    font-size: 50px;
    color: #e7e7e7;
    cursor: default;
}

#navbar .online-icon {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #19e719;
    align-self: center;
}

#navbar ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}

#navbar ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    background-color: #e3e3e3;
}