.sidenav-overlay {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    height: 120vh;
    z-index: 998;
}

.sidenav-overlay-top {
    z-index: 1000 !important;
}

.overlay-background {
    background-color: rgba(0, 0, 0, 0.14);
}

#navbar .navbar-right-container {
    right:0;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    display: flex;
}

#navbar .navbar-left-container {
    height: 100%;
    left: 0;
}

#navbar .navbar {
    width: 100%;
    height: 50px;
    background-color: #0375d8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    padding: 0 10px 0 10px;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: none;
}

#navbar .sidenav-body-sector {
    height: calc(100% - 130px);
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar .name {
    font-size: 15px;
    font-family: var(--main-font);
    display: inline-block;
    max-width: 78%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 18px;
    position: absolute;
    padding-left: 5px;
    cursor: pointer;
    align-self: center;
}

#navbar .top-navbar-user-image {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    display: inline-block;
}

#navbar .head-icon {
    position: relative;
    width: 42px;
    height: 42px;
    z-index: 1;
    cursor: pointer;
}

#navbar .search-sector {
    position: relative;
    z-index: 1;
    padding-right: 5px;
    align-self: center;
}

#navbar .search-input {
    color: var(--main-text-color);
    padding-right: 5px;
    font-family: var(--main-font);
    border-radius: 3px;
    border: 0;
    position: relative;
    font-size: 14px;
    height: 24px;
    width: 100%;
    padding-left: 25px;    
    outline: none !important;
    overflow: hidden !important;
}

#navbar .search-icon {
    font-size: 22px;
    top: 1px;
    position: absolute;
    color: #7b7878;
    left: 20px;
}

#navbar .search-icon-active {
    color: #6088ff !important;
}

#navbar .manage-sector {    
    white-space: nowrap;
    max-width: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    color: rgba(255,255,255,.84);
    height: 100%;
    display: flex;
}

#navbar .menu-icon {
    font-size: 22px;
    left: 0;
    cursor: pointer;
    align-self: center;
    position: absolute;
}

#navbar .menu-icon:hover {
    color: var(--main-background-color);
}

#navbar .menu-top-arrow {
    position: absolute;
    color: #fefff4;
    left: -1px;
    font-size: 24px;
    top: 35px;
    z-index: 1;
}

#navbar .new-friends-label-top-arrow {
    right: 15px;
    color: #b2b2b2 !important;
    top: 21px !important;
}

#navbar .drop-menu-position {
    position: fixed;
    left: 5px;
    top: 50px;
    padding: 0;
}

/* The side navigation menu */
#navbar .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 50;
    right: 0;
    background-image: linear-gradient(145deg, #0375d8, #1d8865);
    overflow-x: hidden;
    transition: var(--navbar-animation-delay);
    user-select: none;
    -webkit-user-select: none;
    border-top: 0.5px #bdb7b7 solid;
    overflow-y: hidden;
}

#navbar .sidenav-shadow {
    box-shadow: -5px 0px 15px 0px grey
}

#navbar .friend-name-container {
    padding: 12px 8px 10px 0px;
    font-size: 14px;
    color: #dbdeff;
    cursor: pointer;
    white-space: nowrap;  
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 55px);
    text-align: right;
}

#navbar .bold-friend-name {
    font-weight: bold;
}

#navbar .sidenav-head-sector {
    background-color: #115c94;
    width: 100%;
    height: 75px;
    top: 0;
    padding-top: 0;
}

#navbar .sidenav-header {
    font-size: 26px;
    cursor: default;
    color: #f1f1f1;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

#navbar .profile-picture {
    width: 55px;
    height: 55px;
    cursor: pointer;
    position: absolute;
}

#navbar .user-name {
    font-size: 18px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 15px;
    right: 75px;
    text-align: right;
}

#navbar .toolbar-menu {
    position: absolute;
    top: 45px;
    right: 70px;
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    direction: ltr;
    overflow: hidden;
}

#navbar .toolbar-item {
    margin: 4px;
    cursor: pointer;
    font-size: 20px;
}

#navbar .badget-icon {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 1px;
    margin-left: -5px;
    border: 1px solid #eee;
}

#navbar .search-results-container {
    position: absolute;
    width: calc(100% - 20px);
    background-color: #f7f7f7;
    border: 1px solid #1b5484;
}

#navbar .result-details-container {
    width: 100%;
    position: relative;
    display: flex;
    float: right;
    overflow: hidden;
}

#navbar .result-friend-request-btns-container {
    width: 50px;
    display: flex;
    position: relative;
    float: left;
    text-align: center;
}

#navbar .search-result {
    height: 55px;
    padding: 5px;
    color: #1d4695;
    font-size: 14px;
    font-weight: bold;
    font-family: var(--main-font);
    cursor: pointer;
    display: flex;
}

#navbar .selected-search-result {
    background-color: #6887c2;
    color: #f7f7f7;
}

#navbar .search-result-image {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-left: 5px;
    align-self: center;
}

#navbar .search-result-image-loading {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid #888888;
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
    line-height: 43px;
    text-align: center;
}

#navbar .search-result-name {
    width: calc(100% - 60px);
    display: inline-block;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    align-self: center;
    font-size: 14px;
    text-align: right;
}

#navbar .friend-request-btn {
    align-self: center;
    font-size: 20px;
    width: 100%;
}

#navbar .remove-request {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    left: 28px !important;
}

#navbar .friend-request-confirm-icon {    
    width: 100%;
    position: absolute;
    right: 0;
}

#navbar .friend-request-confirm-btn {
    font-size: 22px;
    margin-top: 18px;
    float: right;
}

#navbar .friend-request-decline-btn {
    font-size: 22px;
    margin-top: 18px;
    float: left;
}

@media (max-width: 768px) {
    #navbar .search-result {
        height: 45px !important;
    }

    #navbar .search-result-image {
        width: 35px !important;
        height: 35px !important;
    }

    #navbar .search-result-name {
        width: calc(100% - 45px) !important;
        font-size: 12px !important;
    }

    #navbar .search-result-image-loading {
        width: 35px !important;
        height: 35px !important;
    }

    #navbar .friend-request-confirm-icon {
        font-size: 14px !important;
    }

    #navbar .friend-request-confirm-btn {
        font-size: 18px !important;
    }
    
    #navbar .friend-request-decline-btn {
        font-size: 18px !important;
    }

    #navbar .search-result-image-loading {
        line-height: 32px !important;
    }

    #navbar .notification-icon {
        left: -6px  !important;
        top: 5px  !important;
        font-size: 16px !important;
    }
}

.friends-sector {
    margin-top: 1px;
}

#navbar .friend-container {
    display: flex;
    cursor: pointer;
}

#navbar .friend-container:hover {
    background-color: rgba(46, 66, 80, 0.34);
}

#navbar .friend-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-self: center;    
    background-color: rgba(255, 255, 255, 0.82);
}

#navbar .form-group {
    margin: 0 !important;
    padding-bottom: 0 !important;
}

#navbar .clear-friend-search {
    position: absolute;
    left: 15px;
    font-size: 18px;
    top: 12px;
    color: #efeded;
    cursor: pointer;
}

#navbar #friend-search {    
    background-image: linear-gradient(0deg,#D2D2D2 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,#D2D2D2 0.5px,transparent 0) !important;
    color: #efeded !important;
}

#navbar #friend-search-container ::-webkit-input-placeholder {
    color: #DBD8D8 !important;
    font-size: 12px;
}

#navbar .friends-loader {
    position: absolute;
    top: 150px;
    right: 80px;
}

#navbar .no-friends-container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    overflow-x: hidden;
}

#navbar .no-friends-icon {
    margin: auto;
    font-size: 50px;
    color: #e7e7e7;
    border: 1px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding-top: 8px;
    cursor: pointer;
}

#navbar .friend-image-container {
    position: relative;
    display: flex;
    margin-right: 8px;
}

#navbar .online-icon {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #19e719;
    position: absolute;
    right: -2px;
    top: 28px;
}

#navbar .typing-icon {
    width: 16px;
    height: 14px;
    border: 0.5px solid grey;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    right: 25px;
    top: 5px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    font-family: initial;
    line-height: 0.2;
}

#navbar .notification {
    max-width: 270px;
    height: 30px;
    background-color: rgba(62, 62, 62, 0.80);
    position: absolute;
    bottom: 10px;
    left: 10px;
    box-shadow: 0px 0px 3px 1px #d7d7d7;
    border-radius: 5px;
    cursor: pointer;
    color: #fcfcfc;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-user-select: none;
    user-select: none;
    font-family: var(--main-font);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 30px;
    animation-name: showNotification;
    animation-duration: 0.5s;
    z-index: 999;
}

@keyframes showNotification {
    from {opacity: 0;}
    to {opacity: 1;}
}

#navbar .notification-name {
    font-weight: bold;
    font-size: 14px;
}

#navbar .notification-text {
    font-size: 14px;
}

#navbar .new-friends-title {
    position: absolute;
    top: 50%;
    margin-top: -70px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: var(--main-font);
    color: #f7f7f7;
}

#navbar .new-friends-label {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    width: 140px;
    margin-top: 12px;
    padding: 8px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: var(--main-font);
    text-align: center;
    border-top: 0.5px solid #bdb7b7;
}

#navbar .open-sidenav-btn {
    width: 25px;
    height: 35px;
    position: fixed;
    top: 90px;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    background-color: #0375d8;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;    
    z-index: 999;
    transition: var(--navbar-animation-delay);
}

#navbar .open-sidenav-btn:hover {
    background-color: #0079e3;
}

#navbar .open-sidenav-icon {
    color: white;
    font-weight: bold;
    align-self: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#navbar .open-sidenav {
    right: 230px;
}

#navbar .close-sidenav {
    right: 0;
}

#navbar .notifications-budget {
    background-color: red;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    height: 16px;
    min-width: 16px;
    top: -6px;
    right: 15px;
    position: absolute;
    color: white;
    font-size: 12px;
    display: flex;    
}

#navbar .notifications-number {
    align-self: center;
    width: 100%;
    text-align: center;
}

#navbar ::-webkit-scrollbar-thumb {
    background-color: #e3e3e3 !important;
}