.chart-container {
    position: relative;
    height: calc(100vh - 190px);
    width: calc(100vw - 50px);
    max-height: 450px;
    margin: auto;
    margin-top: 20px;
}

.control-menu {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;    
    border-radius: 3px;
    background-color: whitesmoke;
    z-index: 2;
}

.tab-container {
    display: inline-flex;
    width: 100%;
    border: 0.5px solid #9e9e9e;
    position: relative;
}

.tab {
    display: inline-flex;
    width: 100%;    
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    user-select: none;
}

.tab-icon {
    margin: auto;
    font-size: 20px;
}

.close {
    position: absolute;
    left: 10px;
    top: 28px;
}

.modal-header, .modal-body, .modal-footer {
    user-select: none;    
}

.modal-title-icon {
    font-size: 20px;    
    top: 26px;
    padding-right: 10px;    
}

.save-charts-menu-btn {
    padding: 0;
    left: 0;
}

.cancel-modal-btn {
    padding: 0;    
    left: 20px;
}

.menu-option {
    margin-bottom: 10px;
}

.menu-option div {    
    display: inline-block;
    cursor: pointer;
}

.menu-option i {    
    font-size: 16px;
}

.menu-option span {
    margin-right: 3px;
}

.no-chart-container {
    width: 100%;
    text-align: center;
    margin-top: 95px;
    font-size: 45px;
    position: absolute;
    user-select: none;
}

.no-chart-container i {
    margin-right: 10px;
}

.chart-dates-container {    
    text-align: center;
}

.dates-range-string-title {
    position: relative;
    user-select: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    top: -3px;
}

.change-date-range-icon {
    font-size: 24px;
    cursor: pointer;
    line-height: 0;  
}

.control-menu-overly {
    background-color: var(--main-background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.microtext {
    font-size: 11px;
    color: var(--microtext-color);
    line-height: 15px;
    position: absolute;
}

.disable-btn {
    color: darkgrey;
    cursor: default;
}

.chart-top-details-container {
    user-select: none;
}

.chart-title-container {
    margin-top: 5px;
    font-size: 18px;
    display: inline-block;
}

.user-data-container {
    cursor: pointer;
}

.user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.5px solid #c1c1c1;
}

.accept-btn-disabled {
    color: darkgrey !important;
    cursor: not-allowed;
}