.drop-menu {
    background-color: #fefff4;
    padding: 0;
    width: 100%;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.3);
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-option {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.option-link {
    text-decoration: none;
}

.option-sector {
    display: block;
    padding: 5px;    
    font-size: 14px;    
    color: var(--main-text-color);
}

.option-sector:hover {
    background-color: #61a7db;
    color: white;
    border-radius: 2px;
}