.close {
    position: absolute;
    left: 0;
}

.modal-header, .modal-body, .modal-footer {
    user-select: none;    
}

.title {
    font-size: 18px;
    width: calc(100% - 18px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-title-icon {
    font-size: 26px;
    position: absolute;
    top: 22px;
    padding-right: 5px;    
}

.modal-footer-buttons {
    float: left;
}

.save-permissions-btn {
    padding: 0;
    left: 0;
}

.cancel-permissions-btn {
    padding: 0;
    left: 10px;
}

.permissions-container {    
    font-size: 16px;    
}

.permission-sector {
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
}

.permission-name {
    margin-right: 5px;    
}

.permission-check-icon {
    font-size: 18px;    
}