.loader {
    background-color: darkgray;
    width: 70px;
    height: 70px;
    border-radius: 8%;
}

.mini-loader {
    background-color: transparent !important;
    width: 42px !important;
    height: 42px !important;
}

.mini-loader-spinner {
    width: 30px !important;
    height: 30px !important;
}

.loader-spinner {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 14%;
    left: 15%;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.disable-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9998;
}

.btn:hover {
    background-color: transparent !important;
    border-color: #009688 !important;
}

@font-face {
    font-family: Mona Shark;
    src: url('../../../fonts/Mona_Shark.woff');
}

.main-loader-align {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -100px;
}

.main-loading {
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #7f6e99;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

@media (max-width: 500px) {
    .main-loading-image {
        width: 80px;
        height: 80px;
    }

    .main-loading {
        font-size: 12px;
    }

    .main-loader-align {
        margin-left: -40px;
    }
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.load-image-icon i {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.load-image-icon i:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.load-image-icon i:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}