.loader-spinner {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 12%;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    background-color: darkgray;
    width: 70px;
    height: 70px;
    border-radius: 8%;
    z-index: 9999;
}

.disable-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9998;
}

.btn:hover {
    background-color: transparent !important;
    border-color: #009688 !important;
}

@font-face {
    font-family: Mona Shark;
    src: url('../../../fonts/Mona_Shark.woff');
}

.main-loader {
    border: 16px solid #d2d2d2;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

.main-loader-align {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -75px;
}

.main-loader-title {
    text-align: center;
    cursor: default;
    font-size: 22px;
    font-family: rubic;
    color: #111863;
    margin-right:8px;
}