<div id="managementPanel">
    <div class="panel-container">
        <table class="panel-table">
            <tr>
                <td>
                    <div class="panel-btn" (click)="route('/management')">
                        <div class="panel-btn-data">
                            <div>ניהול משתמשים</div>
                            <i class="fas fa-users btn-icon"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="panel-btn" (click)="route('/statistics')">
                        <div class="panel-btn-data">
                            <div>סטטיסטיקות</div>
                            <i class="far fa-chart-bar btn-icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="panel-btn" (click)="route('/reports')">
                        <div class="panel-btn-data">
                            <div>דיווחים</div>
                            <i class="fas fa-flag-checkered fa-flip-horizontal btn-icon"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="panel-btn">
                        <div class="panel-btn-data">
                            <div>באגים</div>
                            <i class="fas fa-bug btn-icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>